body {
	font-family: maven;
	font-weight: 400;
	font-size: 16px;
	color: #404040;
}

.top-navbar {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $top-navbar-bg-right;
	color: $blue-light;
	&:before {
		display: block;
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: calc(50% + 215px);
		background-color: #4469b3;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: calc(50% - 215px);
		width: 0;
		height: 0;
		border-top: 42px solid #4469b3;
		border-right: 14px solid transparent;
	}
	.contact-info {
		position: relative;
		z-index: 2;
		float: left;
	}
	.soc-networks {
		float: right;
		ul {
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 15px;
				}
				a {
					font-size: 1.125em;
					color: $blue-light;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
.overlay-shapes {
	background-image: url('../img/shapes.png');
	background-size: cover;
}
#main-nav {
	margin-right: 10px;
}
.navbar {
	border-bottom: 1px solid rgba(255,255,255,.2);
	ul {
		float: right;
		li {
			float: left;
			&:not(:first-child) {
				margin-left: 20px;
			}
			a {
				display: block;
				padding-top: 47px;
				padding-bottom: 45px;
				font-family: exo;
				font-size: 0.875em;
				font-weight: 600;
				color: white;
				text-transform: uppercase;
			}
			&:not(.skew-button) {
				padding-left: 3px;
				padding-right: 3px;
				border-bottom: 3px solid transparent;
				&:hover {
					border-bottom: 3px solid $blue;
				}
			}
			&.skew-button {
				margin-top: 33px;
			    a {
			    	display: block;
					padding: 10px 25px;
			    	font-size: 1.25em;
			    	font-style: italic;
					font-weight: 500;
			    }
			    &:hover {
			    	background-color: $blue-hover;
			    }
			}
			&.active {
				border-bottom: 3px solid $blue;
				a {
					color: #bbd2ff;
				}
			}
		}
	}
}
header {
	background-color: #4469b3;
}
#logo {
	float: left;
	padding-top: 45px;
	// padding-bottom: 40px;
}
#content {
	background-image: url('../img/lines-grey.png');
	background-position: left;
	background-color: #f0f0f0;
	padding: 60px 0;
	.info-container {
		padding: 45px;		
		color: white;
		background-color: $blue;
		hr {
			margin-top: 20px;
			margin-bottom: 20px;
			border: 1px solid #5790f4;
		}
		background-image: url('../img/u.png');
		background-position: bottom right;
		background-repeat: no-repeat;
	}
	.left-col {
		width: 46%;
		margin-right: 2%;
		float: left;
		.help {
			margin-top: 15px;
			text-align: center;
			i {
				margin-right: 5px;
			}
			a {
				color: $blue;
			}
		}
	}
	.advantages {
		li {
			&:not(:first-child) {
				margin-top: 20px;
			}
			i {
				width: 75px;
				height: 75px;
				line-height: 75px;
				text-align: center;
				border-radius: 50%;
				background-color: rgba(0,0,0,.15);
				font-size: 2.25em;
			}
			p {
				display: inline-block;
				vertical-align: top;
				margin-left: 4%;
				width: 72%;
			}
		}
	}
	&.has-sticky {
		padding-top: 145px;
	}




	.right-col {
		width: 45%;
		margin-left: 7%;
		float: right;


		.top.subtitle {
			.skew-button {
				padding: 15px;
			    font-weight: 500;
			    margin-bottom: 5px;
			}
		}
	}
}
.step {
	-webkit-animation: fadeEffect .5s ease;
	animation: fadeEffect .5s ease;
	a {
		color: $blue;
	}
	.go-back, .cancel, .link {
		color: #404040;
	}
	.main-heading__dark {
		font-family: exo;
		text-transform: none;
		line-height: 1.2;
		font-size: 3em;
		font-weight: 200;
		color: $heading-color;
		margin-bottom: 25px;
	}
	.step-number {
		margin-left: 8px;
		margin-bottom: 15px;
		display: inline-block;
		padding: 2px 30px;
		font-weight: 800;
		font-style: italic;
		font-family: exo;
		text-transform: uppercase;
		font-size: 1.5em;
	}
	.input-field {
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		input:not([type="radio"]) {
			height: 45px;
			width: 100%;
			border: 1px solid #ededed;
			color: #aaa;
			border-radius: 5px;
			padding-left: 20px;
			padding-right: 40px;
		}
		textarea {
			padding: 15px 20px;
			width: 100%;
			border: 1px solid #ededed;
			color: #aaa;
			resize: none;
			border-radius: 5px;
		}
		i {
			position: absolute;
			top: 50%;
			right: 20px;
			color: #bfbfbf;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	.variant {
		cursor: pointer;
		margin-top: 7px;
		height: 45px;
		line-height: 45px;
		padding: 0 20px;
		width: 100%;
		border-radius: 5px;
		background-color: #fff;
		border: 1px solid #ededed;
		i {
			width: 22px;

		}
		&.checkbox {
			input {
				margin-top: 17px;
				float: right;
			}
			color: #808080;
			font-size: 1.125em;
		}
		span {
			margin-left: 10px;
		}
	}
	label {
		display: block;
		width: 100%;
	}
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 1px solid white;
	}
	.subquestion {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.button-wrapper {
		.go-back {
			position: relative;
			top: 10px;
		}
		color: white;
		input {
			background-color: transparent;
			border: 0;
		    font-weight: 500;
		    font-size: 20px;
		    font-style: italic;
		    font-family: exo;
		    text-transform: uppercase;
		    outline: 0;
		    padding: 10px 28px;

		}
		.skew-button {
			float: right;
			margin-right: 5px;
			padding: 0;
			background-color: $blue;
			&:hover {
				background-color: #4469b3;
			}
		}
	}
	.atten-box {
		margin-top: 20px;
		display: none;
		position: relative;
		padding: 0.9375em 1em 0.9375em 2.875em;
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
		font-size: 1.0625em;
		color: white;
		margin-bottom: 15px;
		background-color: #eb634b;
		-webkit-animation: fadeEffect .6s ease;
		animation: fadeEffect .6s ease;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		i {
			position: absolute;
			top: 20px;
			left: 20px;
			font-size: 1.125em;
		}
	}
}
#step-5 {
	label {
		input {
			float: right;
			width: 60%;
		}
		span {
			font-weight: 700;
			color: #666;
			line-height: 45px;
		}
		i {
			font-size: 1.25em;
		}
	}
	select {
		width: 60%;
		float: right;
	    border-radius: 5px;
	    color: #aaa;
	    padding: .625em 2.875em .625em .625em;
	    border: 1px solid #ededed;
	    height: 45px;
	    background-color: #fff;
	}
}
#footer {
	position: relative;
	padding-top: 80px;
	background-color: white;
	.nav-links {
		a {
			font-size: 1.125em;
			text-transform: uppercase;
			color: #999;
			i {
				margin-right: 5px;
			}
			.fa-arrow-right {
				margin-right: 0;
			}
			span {
				color: #404040;
			}
		}
		hr {
			width: 100%;
			margin-top: 53px;
		}
		p {
			position: relative;
			text-transform: uppercase;
			padding-bottom: .4em;
			font-family: exo;
			font-size: 1.5em;
			font-weight: 300;
			&:after {
				content: "";
			    width: 27px;
			    height: 1px;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			}
			&.first {
				&:after {
					background-color: #5086f2;
				}
			}
			&.second {
				&:after {
					background-color: #e2b23e;
				}
			}
		}
	}
	hr {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0;
		background-color: #e5e5e5;
	}
	.sponsors-logo {
		margin-top: 65px;
		text-align: center;
		p {
			color: #bfbfbf;
			font-size: 15px;
			line-height: 1.2;
			span {
				font-size: 32px;
				text-transform: uppercase;
				color: #404040;
				font-family: exo;
				font-weight: 200;
			}
		}
		b {
			display: inline-block;
			margin-top: 15px;
			margin-bottom: 15px;
			position: relative;
			&:after {
				content: "";
			    width: 28px;
			    height: 1px;
			    position: absolute;
			    left: -14px;
			    bottom: 0;
			    background-color: #e2b23e;
			}
		}
		figcaption {
			margin-top: 3px;
			text-transform: uppercase;
			font-family: exo;
			font-size: 1.125em;
			font-weight: 300;
		}
		ul {
			margin-top: 20px;
			display: inline-block;
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 25px;
				}
				a {
					text-transform: uppercase;
					color: #808080;
					&:hover {
						color: #404040;
					}
				}
			}
		}
	}
	.copyright {
		position: relative;
		margin: 35px 0;
		font-size: 0.9375em;
		font-weight: 700;
		span {
			font-weight: 400;
		}
		.to-top {
			top: -5px;
			right: 5px;
			position: absolute;
			font-size: 1.5em;
			a {
				color: #e5e5e5;
				&:hover {
					color: #ccc;
				}
			}
		}
	}
}
.mt0 {
	margin-top: 0!important;
}
