// fa

@font-face {
	font-family: icons;
	src: url('../fonts/fa/fa.eot');
	src: url('../fonts/fa/fa.svg') format('svg'),
		 url('../fonts/fa/fa.woff2') format('woff2'),
		 url('../fonts/fa/fa.woff') format('woff'),
		 url("../fonts/fa/fa.ttf") format("truetype");
	font-weight: 400;
}

// maven
@font-face {
	font-family: maven;
	src: url('../fonts/maven-pro/maven_reg/maven_reg.eot');
	src: url('../fonts/maven-pro/maven_reg/maven_reg.svg') format('svg'),
		 url('../fonts/maven-pro/maven_reg/maven_reg.woff') format('woff'),
		 url("../fonts/maven-pro/maven_reg/maven_reg.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: maven;
	src: url('../fonts/maven-pro/maven_med/maven_med.eot');
	src: url('../fonts/maven-pro/maven_med/maven_med.svg') format('svg'),
		 url('../fonts/maven-pro/maven_med/maven_med.woff') format('woff'),
		 url("../fonts/maven-pro/maven_med/maven_med.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: maven;
	src: url('../fonts/maven-pro/maven_bold/maven_bold.eot');
	src: url('../fonts/maven-pro/maven_bold/maven_bold.svg') format('svg'),
		 url('../fonts/maven-pro/maven_bold/maven_bold.woff') format('woff'),
		 url("../fonts/maven-pro/maven_bold/maven_bold.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: maven;
	src: url('../fonts/maven-pro/maven_ex/maven_ex.eot');
	src: url('../fonts/maven-pro/maven_ex/maven_ex.svg') format('svg'),
		 url('../fonts/maven-pro/maven_ex/maven_ex.woff') format('woff'),
		 url("../fonts/maven-pro/maven_ex/maven_ex.ttf") format("truetype");
	font-weight: 900;
}

// exo




@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-Regular/Exo2-Regular.eot');
	src: url('../fonts/exo-2/Exo2-Regular/Exo2-Regular.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-Regular/Exo2-Regular.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-Medium/Exo2-Medium.eot');
	src: url('../fonts/exo-2/Exo2-Medium/Exo2-Medium.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-Medium/Exo2-Medium.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.eot');
	src: url('../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-Bold/Exo2-Bold.eot');
	src: url('../fonts/exo-2/Exo2-Bold/Exo2-Bold.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-Bold/Exo2-Bold.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.eot');
	src: url('../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.eot');
	src: url('../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.eot');
	src: url('../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-Light/Exo2-Light.eot');
	src: url('../fonts/exo-2/Exo2-Light/Exo2-Light.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-Light/Exo2-Light.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-Light/Exo2-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.eot');
	src: url('../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.eot');
	src: url('../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-Thin/Exo2-Thin.eot');
	src: url('../fonts/exo-2/Exo2-Thin/Exo2-Thin.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-Thin/Exo2-Thin.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: exo;
	src: url('../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.eot');
	src: url('../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.svg') format('svg'),
		 url('../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.woff') format('woff'),
		 url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}