@font-face {
  font-family: icons;
  src: url("../fonts/fa/fa.eot");
  src: url("../fonts/fa/fa.svg") format("svg"), url("../fonts/fa/fa.woff2") format("woff2"), url("../fonts/fa/fa.woff") format("woff"), url("../fonts/fa/fa.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_reg/maven_reg.eot");
  src: url("../fonts/maven-pro/maven_reg/maven_reg.svg") format("svg"), url("../fonts/maven-pro/maven_reg/maven_reg.woff") format("woff"), url("../fonts/maven-pro/maven_reg/maven_reg.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_med/maven_med.eot");
  src: url("../fonts/maven-pro/maven_med/maven_med.svg") format("svg"), url("../fonts/maven-pro/maven_med/maven_med.woff") format("woff"), url("../fonts/maven-pro/maven_med/maven_med.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_bold/maven_bold.eot");
  src: url("../fonts/maven-pro/maven_bold/maven_bold.svg") format("svg"), url("../fonts/maven-pro/maven_bold/maven_bold.woff") format("woff"), url("../fonts/maven-pro/maven_bold/maven_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_ex/maven_ex.eot");
  src: url("../fonts/maven-pro/maven_ex/maven_ex.svg") format("svg"), url("../fonts/maven-pro/maven_ex/maven_ex.woff") format("woff"), url("../fonts/maven-pro/maven_ex/maven_ex.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.eot");
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.svg") format("svg"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.woff") format("woff"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.eot");
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.svg") format("svg"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.woff") format("woff"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.eot");
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.svg") format("svg"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.woff") format("woff"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.eot");
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.svg") format("svg"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.woff") format("woff"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.eot");
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.eot");
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.svg") format("svg"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.woff") format("woff"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.eot");
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.eot");
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.svg") format("svg"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.woff") format("woff"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.eot");
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

.hamburger-menu {
  display: none;
  width: 30px;
  height: 21px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .hamburger-menu {
    display: inline-block;
  }
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  opacity: 1;
  left: 0;
}

.hamburger-menu span:nth-child(1) {
  top: 0px;
}

.hamburger-menu span:nth-child(2) {
  top: 8px;
}

.hamburger-menu span:nth-child(3) {
  top: 16px;
}

.container-restricted {
  padding-left: 55px;
  padding-right: 55px;
}

.fixed-deg {
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  text-align: center;
  font-family: exo;
}

.subtitle .skew-button {
  margin-left: 5px;
  display: inline-block;
  padding: 2px 15px 4px;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

.skew-button {
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}

.skew-button.skew-button__blue {
  background-color: #5086f2;
}

.fixed-deg-y {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
  text-align: center;
}

.fa-mobile {
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}

.main-heading {
  margin-top: 12px;
  margin-bottom: 25px;
  font-family: exo;
  line-height: 1.2;
  font-size: 3.125em;
  text-transform: uppercase;
  font-weight: 200;
}

.info-box {
  margin-top: 30px;
  position: relative;
  padding: 20px 30px 20px 2.875em;
  color: #404040;
  background-color: white;
  text-align: left;
}

.info-box i {
  position: absolute;
  top: 23px;
  left: 20px;
  color: #ccc;
}

.modal {
  position: fixed;
  z-index: 100000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUpLess {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpLess {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1.0s ease;
  animation: fadeIn 1.0s ease;
}

.fadeInUp {
  -webkit-animation: fadeInUp 1.0s ease;
  animation: fadeInUp 1.0s ease;
}

.fadeInUpLess {
  -webkit-animation: fadeInUpLess 1.0s ease;
  animation: fadeInUpLess 1.0s ease;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 195px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 10px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #5086f2;
  white-space: nowrap;
  text-transform: uppercase;
}

.dropdown-menu > li.log-out {
  margin-top: 5px;
}

.dropdown-menu > li.log-out > a {
  background-color: #4469b3;
  color: #bbd2ff;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}
body {
  font-family: maven;
  font-weight: 400;
  font-size: 16px;
}

.top-navbar {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5487eb;
  color: #bbd2ff;
}

.top-navbar:before {
  display: block;
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(50% + 215px);
  background-color: #4469b3;
}

.top-navbar:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: calc(50% - 215px);
  width: 0;
  height: 0;
  border-top: 42px solid #4469b3;
  border-right: 14px solid transparent;
}

.top-navbar .contact-info {
  position: relative;
  z-index: 2;
  float: left;
}

.top-navbar .soc-networks {
  float: right;
}

.top-navbar .soc-networks ul li {
  float: left;
}

.top-navbar .soc-networks ul li:not(:first-child) {
  margin-left: 15px;
}

.top-navbar .soc-networks ul li a {
  font-size: 1.125em;
  color: #bbd2ff;
}

.top-navbar .soc-networks ul li a:hover {
  color: white;
}

#hero {
  background-image: url("../img/contact-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

#main-nav {
  float: right;
  margin-right: 10px;
}

.navbar #main-nav > li {
  float: left;
}

.navbar #main-nav > li:not(:first-child) {
  margin-left: 20px;
}

.navbar #main-nav > li > a, .navbar #main-nav > li.skew-button a {
  display: block;
  padding-top: 47px;
  padding-bottom: 45px;
  font-family: exo;
  font-size: 0.875em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.navbar #main-nav > li:not(.skew-button) {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 3px solid transparent;
}

.navbar #main-nav > li:not(.skew-button):hover {
  border-bottom: 3px solid #5086f2;
}

.navbar #main-nav > li.skew-button {
  margin-top: 33px;
}

.navbar #main-nav > li.skew-button a {
  display: block;
  padding: 10px 25px;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 500;
}

.navbar #main-nav > li.skew-button:hover {
  background-color: #4469b3;
}

.navbar #main-nav > li.active {
  border-bottom: 3px solid #5086f2;
}

.navbar #main-nav > li.active a {
  color: #bbd2ff;
}
#logo {
  margin-left: -3px;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  width: 268px;
  height: 33px;
  background-image: url("../img/logo.png");
  background-size: 268px 33px;
}

#main {
  color: white;
  padding-bottom: 80px;
}

#main .main-info {
  margin-top: 45px;
}

#main .main-info address {
  padding-left: 10px;
  font-style: normal;
  border-left: 7px solid #5086f2;
}

#main .main-info address p {
  font-size: 1.125em;
  line-height: 1.5;
  font-weight: 400;
}

#main .main-info address p strong {
  font-size: 1.125em;
  font-weight: 700;
  font-family: exo;
}

#main .main-info address p span {
  margin-top: 5px;
  display: block;
}

#main .main-info address p span i:before {
  margin-right: 5px;
}

#main .config-block {
  padding-left: 50px;
}

#main .skew-block {
  display: none;
  margin-top: 45px;
  padding: 70px 50px;
  background-color: #4769b0;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  border-radius: 10px;
}

#main .skew-block.active-form {
  display: block;
}

#main .skew-block span {
  position: relative;
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}

#main .skew-block span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#main .skew-block h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: exo;
  font-weight: 200;
  font-size: 3em;
  line-height: 1.3;
}

#main .skew-block .input-field {
  position: relative;
  margin-bottom: 5px;
}

#main .skew-block .input-field i {
  color: #aaa;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}

#main .skew-block textarea {
  resize: none;
  margin-bottom: 5px;
}

#main .skew-block .button {
  width: 100%;
  border-radius: 5px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0;
  padding-right: 0;
  background-color: #5086f2;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

#main .skew-block .button.mb {
  margin-bottom: 27px;
}

#main .skew-block select {
  color: #aaa;
  background-color: #fff;
  height: 44px;
}

#main .skew-block input, #main .skew-block textarea, #main .skew-block select {
  width: 100%;
  border-radius: 5px;
  color: #aaa;
  padding: .625em 2.875em .625em .625em;
  border: 1px solid #ededed;
}

#main .skew-block .final-text {
  display: inline-block;
  width: 75%;
  margin-bottom: 25px;
}

#main .skew-block .go-back {
  margin-top: 5px;
  text-align: left;
}

#main .skew-block .go-back a {
  color: white;
  text-transform: uppercase;
}

#main .skew-block .go-back a i:before {
  margin-right: 5px;
}

#footer {
  position: relative;
  padding-top: 80px;
  background-color: white;
}

#footer .nav-links a {
  font-size: 1.125em;
  text-transform: uppercase;
  color: #999;
}

#footer .nav-links a i {
  margin-right: 5px;
}

#footer .nav-links a .fa-arrow-right {
  margin-right: 0;
}

#footer .nav-links a span {
  color: #404040;
}

#footer .nav-links hr {
  width: 100%;
  margin-top: 53px;
}

#footer .nav-links p {
  position: relative;
  text-transform: uppercase;
  padding-bottom: .4em;
  font-family: exo;
  font-size: 1.5em;
  font-weight: 300;
}

#footer .nav-links p:after {
  content: "";
  width: 27px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer .nav-links p.first:after {
  background-color: #5086f2;
}

#footer .nav-links p.second:after {
  background-color: #e2b23e;
}

#footer hr {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
  background-color: #e5e5e5;
}

#footer .sponsors-logo {
  margin-top: 65px;
  text-align: center;
}

#footer .sponsors-logo p {
  color: #bfbfbf;
  font-size: 15px;
  line-height: 1.2;
}

#footer .sponsors-logo p span {
  font-size: 32px;
  text-transform: uppercase;
  color: #404040;
  font-family: exo;
  font-weight: 200;
}

#footer .sponsors-logo b {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

#footer .sponsors-logo b:after {
  content: "";
  width: 28px;
  height: 1px;
  position: absolute;
  left: -14px;
  bottom: 0;
  background-color: #e2b23e;
}

#footer .sponsors-logo figcaption {
  margin-top: 3px;
  text-transform: uppercase;
  font-family: exo;
  font-size: 1.125em;
  font-weight: 300;
}

#footer .sponsors-logo ul {
  margin-top: 20px;
  display: inline-block;
}

#footer .sponsors-logo ul li {
  float: left;
}

#footer .sponsors-logo ul li:not(:first-child) {
  margin-left: 25px;
}

#footer .sponsors-logo ul li a {
  text-transform: uppercase;
  color: #808080;
}

#footer .sponsors-logo ul li a:hover {
  color: #404040;
}

#footer .copyright {
  position: relative;
  margin: 35px 0;
  font-size: 0.9375em;
  font-weight: 700;
}

#footer .copyright span {
  font-weight: 400;
}

#footer .copyright .to-top {
  top: -5px;
  right: 5px;
  position: absolute;
  font-size: 1.5em;
}

#footer .copyright .to-top a {
  color: #e5e5e5;
}

#footer .copyright .to-top a:hover {
  color: #ccc;
}

@media only screen and (min-width: 1200px) {
  #main-info .content {
    width: 57.5%;
    background-color: #f0f1f5;
  }
  #main-info aside {
    width: 27%;
    background-color: #f7f8fa;
    padding-bottom: 150px;
  }
  #main-info aside .table-wrapper {
    margin-left: 15px;
  }
  #main-info .fixed-deg-y {
    background-image: url("../img/content-bg.jpg");
  }
}

@media only screen and (max-width: 1199px) {
  .container-restricted {
    padding: 0;
  }
  #logo {
    float: none;
    margin: 0 auto;
  }
  .navbar .dropdown-menu {
    float: none;
    position: static;
  }
  .navbar .dropdown-menu > li {
    text-align: center;
  }
  .navbar .dropdown-menu > li.log-out a {
    background-color: #6483c0;
  }
  .navbar #main-nav {
    margin: 0;
    overflow: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    padding-top: 0;
    max-height: 0;
    z-index: 99999;
    opacity: 0;
    background-color: rgba(68, 105, 179, 0.93);
    -webkit-transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
    transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
  }
  .navbar #main-nav.open {
    max-height: 700px;
    padding-top: 10px;
    opacity: 1;
  }
  .navbar #main-nav .skew-button, .navbar #main-nav .fixed-deg {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .navbar #main-nav .skew-button {
    background-color: #364b74;
  }
  .navbar #main-nav > li {
    margin: 0 !important;
    display: block;
    float: none;
    text-align: center;
  }
  .navbar #main-nav > li.dropdown {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar #main-nav > li.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 0;
  }
  .navbar #main-nav > li > a {
    display: inline-block;
    padding: 10px;
  }
  .navbar #main-nav.open {
    display: block;
  }
  .navbar {
    position: relative;
    padding-top: 27px;
    height: 85px;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
  }
  .navbar.sticky {
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    position: fixed;
    background-color: rgba(68, 105, 179, 0.93);
  }
  .navbar.sticky #logo {
    margin-bottom: 0;
  }
  .navbar.menu-open {
    background-color: rgba(68, 105, 179, 0.93);
  }
  #main.has-sticky {
    padding-top: 84px;
  }
  .company-logo {
    margin-top: 0;
    text-align: center;
    left: 0;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .container-restricted {
    padding: 0;
  }
  .top-navbar:before {
    right: calc(50% + 115px);
  }
  .top-navbar:after {
    left: calc(50% - 115px);
  }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .main-heading {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 992px) {
  #main .main-info {
    margin-top: 45px;
  }
  #main .main-info address:last-of-type {
    margin-top: 45px;
  }
}

@media only screen and (max-width: 991px) {
  .main-heading {
    text-align: center !important;
  }
  #footer {
    padding-top: 30px;
    text-align: center;
  }
  #main .main-info {
    text-align: center;
  }
  #main .main-info address:first-child {
    border-left: 0;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .top-navbar:before {
    right: 50%;
  }
  .top-navbar:after {
    left: 50%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
  #hero {
    background-image: url("../img/contact-hero-md.jpg");
  }
  .top-navbar {
    height: 83px;
  }
  .top-navbar:before {
    display: none;
  }
  .top-navbar:after {
    display: none;
  }
  .top-navbar .contact-info {
    float: none;
    text-align: center;
  }
  .top-navbar .soc-networks {
    margin-top: 10px;
    float: none;
    text-align: center;
  }
  .top-navbar .soc-networks ul {
    display: inline-block;
  }
  .top-navbar .soc-networks ul li:not(:first-child) {
    margin-left: 25px;
  }
  .top-navbar .soc-networks ul li a {
    font-size: 1.6em;
  }
  .navbar {
    padding-top: 32px;
  }
  #logo {
    width: 176px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (max-width: 599px) {
  #main .config-block {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  #logo {
    width: 215px;
    height: 30px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 13px;
  }
  .col-xs-6 {
    width: 100%;
  }
  #footer .sponsors-logo ul li:not(:first-child) {
    margin-left: 0;
  }
  #footer .sponsors-logo ul li {
    float: none;
    margin-top: 10px;
  }
  #footer .copyright {
    margin: 30px 0 50px;
  }
  #footer .copyright .to-top {
    top: 25px;
  }
  #main .main-info address:first-child {
    margin-bottom: 20px;
  }
  #main .main-info address:last-child {
    border-left: 0;
  }
  #main .skew-block {
    padding: 70px 25px;
  }
  #main .skew-block h2 {
    font-size: 2.75em;
  }
}

@media only screen and (max-width: 991px) and (min-width: 599px) {
  #main .config-block {
    padding-right: 50px;
  }
}
