@font-face {
  font-family: icons;
  src: url("../fonts/fa/fa.eot");
  src: url("../fonts/fa/fa.svg") format("svg"), url("../fonts/fa/fa.woff2") format("woff2"), url("../fonts/fa/fa.woff") format("woff"), url("../fonts/fa/fa.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_reg/maven_reg.eot");
  src: url("../fonts/maven-pro/maven_reg/maven_reg.svg") format("svg"), url("../fonts/maven-pro/maven_reg/maven_reg.woff") format("woff"), url("../fonts/maven-pro/maven_reg/maven_reg.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_med/maven_med.eot");
  src: url("../fonts/maven-pro/maven_med/maven_med.svg") format("svg"), url("../fonts/maven-pro/maven_med/maven_med.woff") format("woff"), url("../fonts/maven-pro/maven_med/maven_med.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.eot");
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_bold/maven_bold.eot");
  src: url("../fonts/maven-pro/maven_bold/maven_bold.svg") format("svg"), url("../fonts/maven-pro/maven_bold/maven_bold.woff") format("woff"), url("../fonts/maven-pro/maven_bold/maven_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_ex/maven_ex.eot");
  src: url("../fonts/maven-pro/maven_ex/maven_ex.svg") format("svg"), url("../fonts/maven-pro/maven_ex/maven_ex.woff") format("woff"), url("../fonts/maven-pro/maven_ex/maven_ex.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.eot");
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.svg") format("svg"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.woff") format("woff"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.eot");
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.svg") format("svg"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.woff") format("woff"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.eot");
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.svg") format("svg"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.woff") format("woff"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.eot");
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.svg") format("svg"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.woff") format("woff"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-BoldItalic/Exo2-BoldItalic.eot");
  src: url("../fonts/exo-2/Exo2-BoldItalic/Exo2-BoldItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-BoldItalic/Exo2-BoldItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-BoldItalic/Exo2-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.eot");
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.eot");
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.svg") format("svg"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.woff") format("woff"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.eot");
  src: url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.eot");
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.eot");
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.svg") format("svg"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.woff") format("woff"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.eot");
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.container-restricted {
  padding-left: 55px;
  padding-right: 55px;
}

.fixed-deg {
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
}

.skew-button {
  margin-left: 5px;
  display: inline-block;
  padding: 2px 25px 4px;
  font-size: 1.25em;
  font-family: exo;
  line-height: 1;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.skew-button {
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}

.skew-button.skew-button__blue {
  background-color: #5086f2;
  color: white;
}

.skew-button.skew-button__white {
  background-color: white;
  color: #5086f2;
}

.skew-section {
  padding: 140px 0 90px;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  background-size: cover;
  background-position: center;
}

.fixed-deg-y {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

.fa-mobile {
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase !important;
}

.main-heading {
  letter-spacing: -1px;
  margin-top: 10px;
  font-family: exo;
  font-size: 3.125em;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 200;
}

.info-box {
  margin-top: 40px;
  position: relative;
  padding: 20px 30px 20px 2.875em;
  color: #404040;
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
  text-align: left;
  font-size: 1.0625em;
}

.info-box i {
  position: absolute;
  top: 21px;
  left: 20px;
  color: #ccc;
  font-size: 1.25em;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000000;
  background-color: #fff;
}

.go-back, .cancel, .link {
  font-size: 1.125em;
  color: #404040;
  text-transform: uppercase;
}

.go-back i, .cancel i, .link i {
  margin-right: 5px;
}

.submit-button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
}

.submit-button input {
  padding: 8px 20px;
  color: white;
  outline: 0;
  border: 0;
  background-color: black;
  font-size: 20px;
  font-family: exo;
  line-height: 1;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
}

[data-animate="loaded"], [data-animate*="fadeIn"] {
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

[data-animate="fadeInUp"] {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

[data-animate="fadeInUpLess"] {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.loaded, .fadeIn, .fadeInUp, .fadeInUpLess {
  opacity: 1;
}

.fadeInUp, .fadeInUpLess {
  -webkit-transform: none;
  transform: none;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: maven;
  font-weight: 400;
  font-size: 16px;
  color: #404040;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-image: url("../img/shapes2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 2300px) {
  body {
    background-size: cover;
  }
}

header {
  background-image: url("../img/bg-header.png"), -moz-linear-gradient(-178deg, #5086f2 0%, #78cefa 100%);
  background-image: url("../img/bg-header.png"), -webkit-linear-gradient(-178deg, #5086f2 0%, #78cefa 100%);
  background-image: url("../img/bg-header.png"), -ms-linear-gradient(-178deg, #5086f2 0%, #78cefa 100%);
  background-repeat: no-repeat;
}

#logo {
  float: left;
  background-image: url("../img/line-top.png");
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 40px;
}

#header-title {
  margin-top: 35px;
  float: right;
  text-align: right;
  color: white;
}

#header-title p {
  float: left;
  font-family: exo;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
  font-style: italic;
  line-height: 1.2;
}

#header-title p strong span {
  font-size: 1.6em;
}

#header-title i {
  font-size: 2.25em;
  margin-top: 17px;
  margin-left: 20px;
}

#progress {
  position: relative;
  background-color: #fff;
}

#progress ul .step {
  float: left;
  height: 56px;
}

#progress ul .step .skew-button {
  padding: 10px 30px 10px 10px;
  border-right: 1px solid #eeeff1;
  font-family: exo;
  font-size: 16px;
}

#progress ul .step .num {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  float: left;
  font-size: 1em;
  background-color: #eeeff1;
}

#progress ul .step .num + div {
  float: right;
}

#progress ul .step .progress-question {
  font-weight: 300;
  font-style: italic;
  font-size: 1.125em;
}

#progress ul .step .descr {
  text-transform: none;
  font-weight: 400;
  font-size: 1.125em;
  color: #ababab;
  font-style: normal;
}

#progress ul .step .fa-check {
  color: white;
  display: none;
}

#progress ul .step.current .num {
  color: white;
  background-color: #5086f2;
}

#progress ul .step.done .num {
  background-color: #5086f2;
}

#progress ul .step.done .num span {
  display: none;
}

#progress ul .step.done .num .fa-check {
  display: inline-block;
}

#progress:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  background-color: #5086f2;
}

#progress.q-1:before {
  right: calc(50% + 284px);
}

#progress.q-2:before {
  right: calc(50% + 106px);
}

#progress.q-3:before {
  right: calc(50% - 83px);
}

#progress.q-4:before {
  right: calc(50% - 270px);
}

#content {
  background-color: #f5f5f5;
  background-image: url("../img/content-bg.png");
  background-size: cover;
  padding-top: 85px;
}

#content .custom-row {
  margin-left: -30px;
  margin-right: -30px;
}

#content .question-area {
  padding-bottom: 105px;
}

#content .info-area {
  padding-left: 30px;
}

#content .info-area .info-box {
  margin-top: 0;
}

#content form {
  position: relative;
}

#content [id*="answer-"] {
  padding-left: 10px;
  padding-right: 10px;
}

#content [id*="answer-"] {
  height: 45px;
  width: 48%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ededed;
}

#content .variant {
  min-height: 45px;
  padding-top: 15px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ededed;
}
#content .variant .title ~ p {
  margin-top: 5px;
}
#content textarea {
  width: 83%;
  resize: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ededed;
}

#content .input-field {
  position: relative;
}

#content .input-symbol {
  font-size: 22px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#content .input-symbol + input {
  padding-left: 40px;
}

#content .sub-question {
  margin-left: 5px;
  font-weight: 700;
  font-size: 17px;
  margin-top: 15px;
}

#content .variant {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

#content .variant.checkbox {
  color: #808080;
  font-size: 1.125em;
}


#content .variant i {
  font-style: normal;
  cursor: pointer;
}

#content .variant i.fa {
  width: 28px;
  color: #808080;
  font-size: 1.125em;
}


#content hr {
  background-color: #fff;
  height: 1px;
  border: 0;
}

#content .button-wrapper {
  color: white;
}

#content .button-wrapper .go-back {
  position: relative;
  top: 10px;
}

#content .button-wrapper input {
  background-color: transparent;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  font-family: exo;
  text-transform: uppercase;
  outline: 0;
  padding: 12px 26px;
}

#content .button-wrapper .skew-button {
  float: right;
  padding: 0;
  background-color: #5086f2;
}

#content .button-wrapper .skew-button:hover {
  background-color: #4469b3;
}

.question h1 {
  width: 95%;
  font-family: exo;
  text-transform: none;
  line-height: 1.2;
  font-size: 3em;
  font-weight: 200;
  color: #364b74;
  margin-bottom: 15px;
}

.question .step-number {
  margin-left: -10px;
  margin-bottom: 10px;
}


#footer {
  position: relative;
  padding-top: 80px;
  background-color: white;
}

#footer .nav-links a {
  font-size: 1.125em;
  text-transform: uppercase;
  color: #999;
}

#footer .nav-links a i {
  margin-right: 5px;
}

#footer .nav-links a .fa-arrow-right {
  margin-right: 0;
}

#footer .nav-links a span {
  color: #404040;
}

#footer .nav-links hr {
  width: 100%;
  margin-top: 53px;
}

#footer .nav-links p {
  position: relative;
  text-transform: uppercase;
  padding-bottom: .4em;
  font-family: exo;
  font-size: 1.5em;
  font-weight: 300;
}

#footer .nav-links p:after {
  content: "";
  width: 27px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer .nav-links p.first:after {
  background-color: #5086f2;
}

#footer .nav-links p.second:after {
  background-color: #e2b23e;
}

#footer hr {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
  background-color: #e5e5e5;
}

#footer .sponsors-logo {
  margin-top: 65px;
  text-align: center;
}

#footer .sponsors-logo p {
  color: #bfbfbf;
  font-size: 15px;
  line-height: 1.2;
}

#footer .sponsors-logo p span {
  font-size: 32px;
  text-transform: uppercase;
  color: #404040;
  font-family: exo;
  font-weight: 200;
}

#footer .sponsors-logo b {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

#footer .sponsors-logo b:after {
  content: "";
  width: 28px;
  height: 1px;
  position: absolute;
  left: -14px;
  bottom: 0;
  background-color: #e2b23e;
}

#footer .sponsors-logo figcaption {
  margin-top: 3px;
  text-transform: uppercase;
  font-family: exo;
  font-size: 1.125em;
  font-weight: 300;
}

#footer .sponsors-logo ul {
  margin-top: 20px;
  display: inline-block;
}

#footer .sponsors-logo ul li {
  float: left;
}

#footer .sponsors-logo ul li:not(:first-child) {
  margin-left: 25px;
}

#footer .sponsors-logo ul li a {
  text-transform: uppercase;
  color: #808080;
}

#footer .sponsors-logo ul li a:hover {
  color: #404040;
}

#footer .copyright {
  position: relative;
  margin: 35px 0;
  font-size: 0.9375em;
  font-weight: 700;
}

#footer .copyright span {
  font-weight: 400;
}

#footer .copyright .to-top {
  top: -5px;
  right: 5px;
  position: absolute;
  font-size: 1.5em;
}

#footer .copyright .to-top a {
  color: #e5e5e5;
}

#footer .copyright .to-top a:hover {
  color: #ccc;
}

@media only screen and (min-width: 1200px) {
  .pl0 {
    padding-left: 0;
  }
  .pr0 {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .container-restricted {
    padding: 0;
  }
  .heading.has-sticky {
    margin-top: 84px;
  }
  #step-5 label input {
    float: none;
    width: 100%;
  }
  #content .custom-row {
    margin-left: 0;
    margin-right: 0;
  }
  .quest-wrapper {
    margin: 0;
    width: 100%;
  }
  .question .step-number {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .container-restricted {
    padding: 0;
  }
  .info-area {
    width: 40%;
  }
  .top-navbar:before {
    right: calc(50% + 115px);
  }
  .top-navbar:after {
    left: calc(50% - 115px);
  }
  #content .left-col {
    width: 52%;
    margin-right: 2%;
  }
  #content .right-col {
    width: 41%;
    margin-left: 5%;
  }
  #content .right-col .subtitle .skew-button {
    font-size: 1.25em;
  }
  #content .right-col .step label.input-field {
    margin-bottom: 10px;
  }
  #content .right-col .step .input-field {
    margin-top: 10px;
  }
  #content .info-container {
    padding: 35px 25px;
  }
  #content #step-6 {
    width: 319px;
  }
  #content .variant.radio {
    display: inline-block;
    min-width: 55%;
    max-width: 90%;
  }
  #step-6 .table-wrapper table tr td {
    font-size: 14px;
  }
  #step-6 .table-wrapper table tr td:first-child {
    width: 45.6%;
  }
  #step-6 .table-wrapper table tr td:last-child {
    width: 54.4%;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
  }
  #step-6 .table-wrapper table tr td:last-child:hover {
    color: #5086f2;
  }
  #step-6 .table-wrapper table tr td:last-child:hover i {
    color: #5086f2;
  }
  #step-6 .table-wrapper table tr td:last-child i {
    color: #ccc;
    position: relative;
    top: 4px;
    float: right;
  }
  #step-6 .table-wrapper table tr td:last-child span {
    display: block;
    width: 85%;
  }
  #progress.q-1:before {
    right: calc(50% + 200px);
  }
  #progress.q-2:before {
    right: calc(50% + 23px);
  }
  #progress.q-3:before {
    right: calc(50% - 165px);
  }
  #progress.q-4:before {
    right: calc(50% - 353px);
  }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .main-heading.main-heading__blue,
  .main-heading, .question h1 {
    font-size: 2.25em !important;
  }
  #header-title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  .pl0 {
    padding-left: 0;
  }
  .pr0 {
    padding-right: 0;
  }
  #check-number {
    padding-top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .info-box {
    font-size: .93em;
  }
  .info-box i {
    top: 22px;
    left: 18px;
  }
  #forms .skew-button {
    margin-left: 0 !important;
  }
  #forms .submit-button {
    margin-top: 30px;
  }
  #content .question-area {
    padding-bottom: 50px;
  }
  .question .step-number {
    margin-left: 0;
  }
  .question h1 {
    width: 100%;
  }
  .right-side {
    height: auto;
    margin: 0;
  }
  .right-side .form-block {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px !important;
    margin-bottom: 40px;
    width: 100%;
    margin: 0;
    float: none;
    text-align: center;
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .right-side .form-block .wrapper {
    display: inline-block;
    width: 100%;
  }
  .right-side .form-block .wrapper .main-heading {
    margin-bottom: 20px;
  }
  .right-side .form-block .wrapper .log-in-button {
    position: relative;
    text-align: center !important;
  }
  .right-side .form-block .wrapper .log-in-button i {
    position: absolute;
    font-size: 1.125em;
    left: 15px;
    text-align: left;
    top: 17px;
  }
  #hero {
    width: 100%;
    height: 200px;
    padding-top: 50px;
    float: none;
    padding-right: 0;
    text-align: center;
    position: relative;
  }
  #hero .heading-wrapper {
    padding-right: 0;
    border-right: 0;
  }
  #hero .heading-wrapper h1 {
    position: static;
    margin-bottom: 10px;
  }
  #footer {
    padding-top: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #progress.q-1:before {
    right: calc(50% + 185px);
  }
  #progress.q-2:before {
    right: calc(50% + 19px);
  }
  #progress.q-3:before {
    right: calc(50% - 157px);
  }
  #progress.q-4:before {
    right: calc(50% - 332px);
  }
  #progress ul .step .skew-button {
    font-size: 14px;
  }
  #content [id*="answer-"], #content .variant {
    width: 90%;
  }
  #content .variant.checkbox:nth-child(2), #content .variant.checkbox:nth-child(4) {
    margin-left: 0%;
  }
  .mt-section {
    margin-top: -2.5%;
  }
  .right-side {
    width: 700px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
  #progress:before {
    display: none;
  }
  #progress.q-1:before {
    right: 75%;
  }
  #progress.q-2:before {
    right: 50%;
  }
  #progress.q-3:before {
    right: 25%;
  }
  #progress.q-4:before {
    right: 0%;
  }
  .subtitle .skew-button {
    font-size: 1.125em;
  }
  .skew-section {
    padding-top: 80px !important;
  }
  #header-title {
    display: none;
  }
  #logo {
    background-image: none;
    float: none;
    text-align: center;
  }
  #progress ul .step {
    border-bottom: 1px solid #eee;
  }
  #progress ul .step .skew-button {
    border-right: 0;
  }
  .quest-wrapper {
    text-align: center;
  }
  #content .variant {
    float: none;
    display: inline-block;
  }
  #content .bottom-position {
    left: 15px;
    right: 15px;
  }
  #content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #content .button-wrapper a {
    float: left;
  }
  #content .input-symbol {
    left: 14.4%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
  .mt-section {
    margin-top: -3%;
  }
}

@media only screen and (max-width: 599px) and (min-width: 480px) {
  .mt-section {
    margin-top: -4.5%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .main-heading.main-heading__blue,
  .main-heading {
    font-size: 2.25em !important;
  }
  .main-heading.main-heading__blue,
  .main-heading, .question h1 {
    font-size: 2em !important;
  }
  #hero .heading-wrapper {
    font-size: 14px;
  }
  #content [id*="answer-"], #content .variant {
    min-width: 75%;
  }
  #content .variant {
    display: inline-block;
  }
  #content .variant.checkbox:nth-child(2), #content .variant.checkbox:nth-child(4) {
    margin-left: 0%;
  }
  #progress ul .step {
    width: 50%;
  }
}

@media only screen and (max-width: 479px) {
  #hero {
    padding-top: 68px;
  }
  #content [id*="answer-"], #content .variant, #content textarea {
    width: 100%;
  }
  #content .variant.checkbox:nth-child(2), #content .variant.checkbox:nth-child(4) {
    margin-left: 0%;
  }
  #content .input-symbol {
    left: 4%;
  }
  #hero .heading-wrapper {
    font-size: 10px;
  }
  .main-heading.main-heading__blue,
  .main-heading {
    font-size: 1.75em !important;
  }
  .main-heading.main-heading__blue,
  .main-heading, .question h1 {
    font-size: 1.75em !important;
  }
  #logo img {
    width: 240px;
    height: 32px;
  }
  #progress ul .step {
    width: 100%;
    text-align: center;
  }
  #progress ul .step .skew-button {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    width: 100%;
    position: relative;
  }
  #progress ul .step .num {
    position: absolute;
    left: 0;
  }
  #progress ul .step .num + div {
    float: none;
  }
  .col-xs-6 {
    width: 100%;
  }
  .mt-section {
    margin-top: -5.6%;
  }
  #footer .sponsors-logo ul li:not(:first-child) {
    margin-left: 0;
  }
  #footer .sponsors-logo ul li {
    float: none;
    margin-top: 10px;
  }
  #footer .copyright {
    margin: 30px 0 50px;
  }
  #footer .copyright .to-top {
    top: 25px;
  }
}

@media only screen and (max-width: 1669px) and (min-width: 992px) {
  #hero {
    background-position: right;
  }
}
