$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@media only screen and (min-width: 1800px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
}
@media only screen and (min-width: 1200px) {
	
}
@media only screen and (max-width: 1199px){
	.container-restricted {
		padding: 0;
	}
	#logo {
		float: none;
		margin: 0 auto;
		text-align: center;
		padding: 0;
	}
	#main-nav {
		margin: 0;
		overflow: scroll;
		position: absolute;
		left: 0;
		right: 0;
		top: 85px;
		padding-top: 0;
		max-height: 0;
		z-index: 99999;
		opacity: 0;
		background-color: rgba(68,105,179,.93);
		-webkit-transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
		transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
		&.open {
			max-height: 300px;
			padding-top: 10px;
			opacity: 1;
		}
		.skew-button, .fixed-deg {
			-webkit-transform: none;
		    -ms-transform: none;
		    transform: none;
		}
		.skew-button {
			background-color: $heading-color;
		}
		li {
			margin: 0 !important;
			display: block;
			float: none;
			text-align: center;
			&.active {
				background-color: rgba(255,255,255,.1);
				border-bottom: 0;
			}
			a {
				display: inline-block;
				padding: 10px;
			}
		}
		&.open {
			display: block;
		}
	}
	.navbar {
		position: relative;
		padding-top: 27px;
		height: 85px;
		background-color: rgba(68,105,179,.93);
		&.sticky {
			top: 0;
			left: 0;
			right: 0;
			z-index: 100000;
			position: fixed;
			background-color: rgba(68,105,179,.93);
			#logo {
				margin-bottom: 0;
			}
		}
	}

	.heading {
		&.has-sticky {
			margin-top: 84px;
		}
	}
	#step-5 label input {
		float: none;
		width: 100%;
	}
	#content {
		.right-col {
			.step label.input-field i {
				top: 75%;
			}
		}
	}

}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.container-restricted {
		padding: 0;
	}
	.top-navbar {
		&:before {
			right: calc(50% + 115px);
		}
		&:after {
			left: calc(50% - 115px);
		}
	}
	#content {
		.left-col {
			width: 52%;
			margin-right: 2%;
		}
		.right-col {
			width: 41%;
			margin-left: 5%;
			.subtitle .skew-button {
				font-size: 1.25em;
			}
			.step label.input-field  {
				margin-bottom: 10px;
			}
			.step .input-field {
				margin-top: 10px;
			}
		}
		.info-container {
			padding: 35px 25px;
		}
		#step-6 {
			width: 319px;
		} 
	}
	#step-6 .table-wrapper table tr td {
		font-size: 14px;
		&:first-child {
			width: 45.6%;
		}
		&:last-child {
			width: 54.4%;
			border-bottom: 1px solid #e5e5e5;
			cursor: pointer;
			&:hover {
				color: $blue;
				i {
					color: $blue;
				}
			}
			i {
				color: #ccc;
				position: relative;
				top: 4px;
				float: right;
			}
			span {
				display: block;
				width: 85%;
			}
		}
	}
}
@media only screen and (max-width: 1199px) and (min-width: 768px) {
	.main-heading.main-heading__blue,
	.step .main-heading__dark {
		font-size: 2.5em;
	}
}
@media only screen and (min-width: 992px) {
	.pl0 {
		padding-left: 0;
	}
	.pr0 {
		padding-right: 0;
	}
}
@media only screen and (max-width: 991px) {
	#nominating {
		text-align: center;
		.italic-heading {
			float: none;
			line-height: 1.2;
			margin-bottom: 20px;
		}
		.nominate-button {
			margin: 0;
		}
	}
	#content {
	    .left-col, .right-col {
	    	width: 100%;
	    	margin: 0;
	    	.step {
	    		width: 100%;
	    		text-align: center;
	    		.skew-button {
	    			margin-left: 0;
	    		}
	    		table, .button-wrapper {
	    			text-align: left;
	    		}
	    	}
	    }
	    .left-col {
	    	margin-top: 50px;
	    }
	    
	}
	#step-2 {
		.log-in-button {
			text-align: center;
			span {
				width: auto;
				left: 50%;
    			transform: translateX(-50%);
			}
			i {
				position: absolute;
				right: 15px;
			}
		}

	}
	#step-6 .table-wrapper table tr td .hint {
		left: auto;
		right: 0;
	}
	#footer {
		padding-top: 30px;
		text-align: center;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.top-navbar {
		&:before {
			right: 50%;
		}
		&:after {
			left: 50%;
		}
	}
	.mt-section {
		margin-top: -2.5%;
	}
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 15px;
	}
	.top-navbar {
		height: 83px;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		.contact-info {
			float: none;
			text-align: center;
		}
		.soc-networks {
			margin-top: 10px;
			float: none;
			text-align: center;
			ul {
				display: inline-block;
				li {
					&:not(:first-child) {
						margin-left: 25px;
					}
					a {
						font-size: 1.6em;
					}
				}
			}
		}
	}
	.navbar {
		padding-top: 32px;
	}
	#logo {
		width: 176px;
		height: 25px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.subtitle .skew-button {
		font-size: 1.125em;
	}
	.main-heading,
	.step .main-heading.main-heading__blue {
		font-size: 2.25em;
	}
	.skew-section {
		padding-top: 80px !important;
	}

}
@media only screen and (max-width: 767px) and (min-width: 600px) {
	.mt-section {
		margin-top: -3%;
	}
}
@media only screen and (max-width: 599px) {


}
@media only screen and (max-width: 599px) and (min-width: 480px) {
	.mt-section {
		margin-top: -4.5%;
	}
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
	#logo {
		width: 215px;
		height: 30px;
	}
}
@media only screen and (max-width: 479px) {
	#content {
		.advantages {
			li {
				text-align: center;
				p {
					margin: 15px 0;
					width: 100%;
				}
			}
		}
	}
	.step .main-heading__dark,
	.step .main-heading.main-heading__blue {
		font-size: 2em;
	}
	#step-6 .table-wrapper table tr td:first-child {
		width: 50%;
	}
	#step-6 .table-wrapper table tr td:last-child {
		width: 50%;
	}
	#content .info-container {
		text-align: center;
		padding: 30px;
	}
	.col-xs-6 {
		width: 100%;
	}
	.mt-section {
		margin-top: -5.6%;
	}
	#footer .sponsors-logo ul li:not(:first-child) {
		margin-left: 0;
	}
	#footer .sponsors-logo ul li {
		float: none;
		margin-top: 10px;
	}
	#footer {
		.copyright {
			margin: 30px 0 50px;
		}
	}
	#footer .copyright .to-top {
		top: 25px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 600px) {
}
@media only screen and (max-width: 991px) and (min-width: 480px) {
}
