body {
	font-family: maven;
	font-weight: 400;
	font-size: 16px;
	color: #404040;
	background-color: #f2f2f2;
	background-image: url('../img/shapes.png');
	background-size: contain,cover;
	background-repeat: no-repeat;
}
#hero {
	width: 56.25%;
	background-image: url('../img/main-md.png');
	@media screen and (min-width: 1670px) {
		background-image: url('../img/main.png');
	}
	background-size: cover;
	background-position: center;
	text-align: right;
	padding-right: 10%;
	float: left;
	padding-top: 285px;
	.heading-wrapper {
		padding-right: 10px;
		display: inline-block;
		border-right: 1px solid #eeeff1;
		h1 {
			position: relative;
			top: -8px;
			color: white;
			text-transform: uppercase;
			font-family: exo;
			font-weight: 700;
			font-style: italic;
			font-size: 2.75em;
		}
		.subtitle {
			margin-right: 5px;
			.skew-button {
				font-size: 1.25em;
				padding-top: 10px;
				padding-bottom: 10px;
				font-weight: 500;
				font-style: italic;
				font-family: exo;
			}
		}
	}
}
#check-number {
	padding-top: 100px;
	padding-bottom: 55px;
	float: left;
	width: calc(43.75% - 60px);
	margin-left: 60px;
	.wrapper {
		width: 340px;
		h2 {
			font-family: exo;
			text-transform: none;
			line-height: 1.2;
			font-size: 3em;
			color: $heading-color;
			margin-bottom: 15px;
			+ p {
				span {
					color: #999;
				}
			}
		}
		.log-in-button {
			width: 100%;
			text-align: left;
			border: 0;
			outline: 0;
			display: block;
			padding: 15px 20px;
			color: white;
			font-weight: 900;
			font-size: 1.125em;
			text-transform: uppercase;
			&:not(:last-of-type) {
				margin-bottom: 7px;
			}
			
			border-radius: 5px;
			i {
				width: 30px;
				font-size: 1.125em;
			}
			&.fac {
				background-color: #4c51a6;
			}
			&.link {
				background-color: #0a6da6;
			}
			&.goo {
				background-color: #da5738;
			}
		}
		.input-field {
			margin-top: 20px;
			margin-bottom: 20px;
			position: relative;
			input {
				height: 45px;
				width: 100%;
				border: 1px solid #ededed;
				color: #bfbfbf;
				border-radius: 5px;
				padding-left: 20px;
				padding-right: 40px;
			}
			i {
				position: absolute;
				top: 50%;
				right: 20px;
				color: #bfbfbf;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		.skew-button {
			margin-left: 5px;
			margin-bottom: 25px;
		}
		input[type="submit"] {
			text-transform: uppercase;
			color: white;
			background-color: #000;
			border: 0;
			outline: 0;
			font-family: exo;
			font-weight: 500;
			font-size: 1.125em;
			padding: 6px 15px;
		}
		hr {
			height: 1px;
			background-color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.atten-box {
			opacity: 0;
			visibility: hidden;
			position: relative;
			padding: 15px 10px 15px 2.875em;
			box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
			font-size: 1.0625em;
			margin-top: 0;
			color: white;
			margin-bottom: 15px;
			background-color: #eb634b;
			-webkit-transition: opacity .6s ease, visibility .6s ease;
			transition: opacity .6s ease, visibility .6s ease;
			&.active {
				opacity: 1;
				visibility: visible;
			}
			i {
				position: absolute;
				top: 23px;
				left: 20px;
				font-size: 1.125em;
			}
		}
		.help {
			i {
				position: relative;
				top: 1px;
			}
			a {
				color: $blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.go-back {
			font-size: 1.125em;
			color: #404040;
			text-transform: uppercase;
			i {
				margin-right: 5px;
			}
		}
	}
}
#log-in {
	padding-top: 100px;
	padding-bottom: 55px;
	float: left;
	width: calc(43.75% - 60px);
	margin-left: 60px;
	.wrapper {
		width: 340px;
		h2 {
			font-family: exo;
			text-transform: none;
			line-height: 1.2;
			font-size: 3em;
			color: $heading-color;
			margin-bottom: 15px;
		}
		.log-in-button {
			width: 100%;
			text-align: left;
			border: 0;
			outline: 0;
			display: block;
			padding: 15px 20px;
			color: white;
			font-weight: 900;
			font-size: 1.125em;
			text-transform: uppercase;
			&:not(:last-of-type) {
				margin-bottom: 7px;
			}
			
			border-radius: 5px;
			i {
				width: 30px;
				font-size: 1.125em;
			}
			&.fac {
				background-color: #4c51a6;
			}
			&.link {
				background-color: #0a6da6;
			}
			&.goo {
				background-color: #da5738;
			}
		}
		.or {
			margin-top: 10px;
			margin-bottom: 10px;
			position: relative;
			text-align: center;
			color: #999;
			text-transform: uppercase;
			&:before, &:after {
				content: '';
				display: block;
				background-repeat: repeat-x;
				position: absolute;
				height: 1px;
				top: 50%;
				background-color: #999;
			}
			&:before {
				left: 0;
				right: calc(50% + 20px);
			}
			&:after {
				right: 0;
				left: calc(50% + 20px);
			}
		}
		.input-field {
			margin-bottom: 10px;
			position: relative;
			input {
				height: 45px;
				width: 100%;
				border: 1px solid #ededed;
				color: #bfbfbf;
				border-radius: 5px;
				padding-left: 20px;
				padding-right: 40px;
			}
			i {
				position: absolute;
				top: 50%;
				right: 20px;
				color: #bfbfbf;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		input[type="submit"] {
			width: 100%;
			text-transform: uppercase;
			font-weight: 900;
			border-radius: 5px;
			color: white;
			background-color: #000;
			border: 0;
			outline: 0;
			font-size: 1.125em;
			padding: 15px;
		}
		hr {
			height: 1px;
			background-color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.info-box {
			margin-top: 0;
			margin-bottom: 15px;
			a {
				color: $blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.go-back {
			font-size: 1.125em;
			color: #404040;
			text-transform: uppercase;
			i {
				margin-right: 5px;
			}
		}
	}
}
#logo {
	margin-left: -3px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
	width: 268px;
	height: 33px;
	background-image: url('../img/logo.png');
	background-size: 268px 33px;
}

#footer {
	position: relative;
	padding-top: 80px;
	background-color: white;
	.nav-links {
		a {
			font-size: 1.125em;
			text-transform: uppercase;
			color: #999;
			i {
				margin-right: 5px;
			}
			.fa-arrow-right {
				margin-right: 0;
			}
			span {
				color: #404040;
			}
		}
		hr {
			width: 100%;
			margin-top: 53px;
		}
		p {
			position: relative;
			text-transform: uppercase;
			padding-bottom: .4em;
			font-family: exo;
			font-size: 1.5em;
			font-weight: 300;
			&:after {
				content: "";
			    width: 27px;
			    height: 1px;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			}
			&.first {
				&:after {
					background-color: #5086f2;
				}
			}
			&.second {
				&:after {
					background-color: #e2b23e;
				}
			}
		}
	}
	hr {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0;
		background-color: #e5e5e5;
	}
	.sponsors-logo {
		margin-top: 65px;
		text-align: center;
		p {
			color: #bfbfbf;
			font-size: 15px;
			line-height: 1.2;
			span {
				font-size: 32px;
				text-transform: uppercase;
				color: #404040;
				font-family: exo;
				font-weight: 200;
			}
		}
		b {
			display: inline-block;
			margin-top: 15px;
			margin-bottom: 15px;
			position: relative;
			&:after {
				content: "";
			    width: 28px;
			    height: 1px;
			    position: absolute;
			    left: -14px;
			    bottom: 0;
			    background-color: #e2b23e;
			}
		}
		figcaption {
			margin-top: 3px;
			text-transform: uppercase;
			font-family: exo;
			font-size: 1.125em;
			font-weight: 300;
		}
		ul {
			margin-top: 20px;
			display: inline-block;
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 25px;
				}
				a {
					text-transform: uppercase;
					color: #808080;
					&:hover {
						color: #404040;
					}
				}
			}
		}
	}
	.copyright {
		position: relative;
		margin: 35px 0;
		font-size: 0.9375em;
		font-weight: 700;
		span {
			font-weight: 400;
		}
		.to-top {
			top: -5px;
			right: 5px;
			position: absolute;
			font-size: 1.5em;
			a {
				color: #e5e5e5;
				&:hover {
					color: #ccc;
				}
			}
		}
	}
}
