@font-face {
	font-family: icons;
	src: url("../fonts/fa/fa.eot");
    src: url("../fonts/fa/fa.svg") format("svg"), url("../fonts/fa/fa.woff2") format("woff2"), url("../fonts/fa/fa.woff") format("woff"), url("../fonts/fa/fa.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
	font-family: tit;
	src: url("../fonts/titillium/light.eot");
    src: url("../fonts/titillium/light.svg") format("svg"), url("../fonts/titillium/light.woff") format("woff"), url("../fonts/titillium/light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
	font-family: tit;
	src: url("../fonts/titillium/bold.eot");
    src: url("../fonts/titillium/bold.svg") format("svg"), url("../fonts/titillium/bold.woff") format("woff"), url("../fonts/titillium/bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
	font-family: tit;
	src: url("../fonts/titillium/bold.eot");
    src: url("../fonts/titillium/bold.svg") format("svg"), url("../fonts/titillium/bold.woff") format("woff"), url("../fonts/titillium/bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
	font-family: orbitron;
	src: url("../fonts/orbitron/light.eot");
    src: url("../fonts/orbitron/light.svg") format("svg"), url("../fonts/orbitron/light.woff") format("woff"), url("../fonts/orbitron/light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
	font-family: orbitron;
	src: url("../fonts/orbitron/bold.eot");
    src: url("../fonts/orbitron/bold.svg") format("svg"), url("../fonts/orbitron/bold.woff") format("woff"), url("../fonts/orbitron/bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
	font-family: roboto;
	src: url("../fonts/roboto/reg.eot");
    src: url("../fonts/roboto/reg.svg") format("svg"), url("../fonts/roboto/reg.woff") format("woff"), url("../fonts/roboto/reg.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
	font-family: roboto;
	src: url("../fonts/roboto/italic.eot");
    src: url("../fonts/roboto/italic.svg") format("svg"), url("../fonts/roboto/italic.woff") format("woff"), url("../fonts/roboto/italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}