// @media only screen and (min-width: 992px) {

// }
@media only screen and (min-width: 768px) {
	.kek {
		margin-right: 110px;
	}
	.pagination {
		position: relative;
		.next {
			float: left;
		}
		.prev {
			float: right;
		}
		.listing {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
@media only screen and (max-width: 991px) {
	#aside {
		padding-right: 15px;
		background-color: transparent;
	}
	#right-side {
		padding-left: 15px;
	}
	#content {
		background-image: none!important;
		background-color: #2a2a2b;
	}
	#popular-topics {
		background-color: #3a3a3b;
	}
	h2, h3 {
		text-align: center;
	}
	.content-heading:after {
		left: 50%;
		margin-left: -12px;
	}
	#footer {
		.copyright {
			margin-right: 0;
			display: block;
			text-align: center;
		}
		.left-side, .right-side {
			float: none;
		}
		.right-side {
			margin-top: 15px;
			text-align: center;
			.soc-networks {
				float: none;
				ul {
					display: inline-block;
				}
			}
			.to-top {
				margin-left: 0;
				margin-top: 10px;
				position: static;
			}
		}
		.footer-nav {
			display: block;
			ul {
				width: 100%;
				text-align: center;
				li {
					float: none;
					margin-left: 0!important;
					margin-top: 10px;
				}
			}
		}
	}
	.products-photo {
		margin-bottom: 60px;
	}
	#content .buy-row {
		text-align: center;
	}
	#content .buy-row p {
		margin-top: 15px;
		float: none;
		margin-bottom: 15px;
	}
	#content .buy-row .polygon-button {
		float: none;
	}
	.separator.yellow {
		display: none;
	}
	#content {
		.options {
			text-align: center;
			.table-wrapper {
				padding-left: 0;
				margin-top: 30px;
				table {
					width: 100%;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.heading {
				padding-right: 0;
			}
		}
		.include {
			text-align: center;
			h2 {
				margin-top: 30px;
			}
			ul {
				li {
					text-align: left;
				}
			}
		}
	}
	#content .click-slide p,
	#content .click-slide .polygon-button {
		float: none;
	}
	#content .click-slide  {
		text-align: center;
	}
	#content .click-slide p {
		margin-bottom: 20px;
	}
	#content.user-page {
		background-color: #252526;
		#aside {
			text-align: center;
			padding-right: 15px;
			.note {
				position: static;
				margin-top: 50px;
			}
		}
		#avatar {
			margin-left: auto;
			margin-right: auto;
		}
		#right-side {
			text-align: center;
			padding-left: 15px;
			background-color: #252526;
			.general {
				margin-top: 50px;
			}
			h1 {
				text-align: center;
			}
		}
	}
	.contact-details {
		text-align: left;
	}
	.invoice #content .order-info {
		text-align: center;
		.tar {
			text-align: center;
		}
		> div {
			margin-bottom: 15px;
		}
	}
	#product-intro {
		margin-bottom: 40px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	#content .unique-features .list-features ul li {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media only screen and (max-width: 767px) {
	#fixed-bar {
		.soc-networks {
			display: none;
		}
	}
	#header .soc-networks {
		display: none;
	}
	#content .unique-features .list-features ul li {
		float: none;
		width: 100%;
	}
	.separator {
		display: none;
	}
	#logo {
		margin-left: 0;
		left: 15px;
	}
	#header-title {
		background-image: url('../img/knlg-base-header-sm.jpg');
		&.product {
			background-image: url('../img/product-hero-big.jpg');
		}
	}
	.pop-up {
		.wrapper {
			width: auto;
			left: 15px;
			right: 15px;
			transform: translateY(-50%);
		}
	}
	#header-title h1 {
		font-size: 1.5em;
	}
	#right-side .end-article .vote-like {
		display: block;
		width: 200px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	#right-side .end-article .author-info {
		margin-top: 15px;
		text-align: center;
		max-width: 100%;
		display: block;
		margin-right: 0;
	}
	.descr-box .options-list ul li:not(:nth-child(4n)) {
		margin-right: auto;
	}
	.descr-box .options-list ul li {
		width: calc(50% - 15px);
		margin-bottom: 15px;
	}
	.descr-box .options-list ul li:nth-child(2n) {
		margin-left: 30px;
	}
	#content .product-nav {
		.left-side {
			display: none;
		}
		.right-side {
			float: none;
			ul {
				height: 40px;
				overflow: hidden;
				text-align: center;
				li {
					float: none;
					display: inline-block;
					a {
						height: 40px;
						padding: .875em .75em;
						font-size: .875em;
					}
				}
			}
		}
	}
	#content .right-side i.fa-flash {
		width: 15px;
		height: 15px;
	}
	#content .right-side ul li.active a:before,
	#content .right-side ul li.active a:after {
		border-bottom: 40px solid #191a1c;
	}
	#content .buy-row p {
		font-size: .5em;
	}
	#content.user-page {
		#right-side {
			background-color: #191a1c;
			.order-info {
				h1 {
					float: none;
				}
				ul {
					margin-top: 0;
					li {
						margin-left: 15px;
						font-size: .75em;
					}
				}
			}
		}
		.buttons {
			text-align: center;
		}
		.table-wrapper {
			margin-top: 20px;
			overflow-x: scroll;
		}
	}
	.mob-tac {
		text-align: center;
	}
	#content.user-page.edit .avatar {
		float: none;
		display: inline-block;
		margin-bottom: 30px;
	}
	#content.user-page.order-list #right-side .order-info ul {
		float: none;
		li {
			float: none;
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	#content.user-page.order-list .table-wrapper {
		padding-top: 0;
	}
	#content.user-page.order-list .pagination .next-prev {
		position: static;
	}
	.pagination {
		.listing {
			clear: both;
			margin-top: 40px;
		}
	}
	#content.user-page.edit-fields .submit-wrap {
		margin-top: 0;
		float: none;
		display: inline-block;
	}
	#content.user-page .table-wrapper.visible {
		overflow: visible;
	}
	.invoice #content {
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.invoice .table-wrapper table thead th, .invoice .table-wrapper table tfoot td {
		font-size: .875em;
	}
	.invoice #content h1 {
		font-size: 1.75em;
	}
	.invoice #content {
		.logo {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
		.client-info {
			float: none;
			width: 100%;
		}
	}
	.invoice .fixed-bar .logo {
		display: none;
	}

}
@media only screen and (max-width: 767px) and (min-width: 480px) {
	#content.user-page.edit-fields .table-wrapper table tr td:last-child {
		width: 70%;
	}
	#content.user-page.edit-fields .table-wrapper table tr td:first-child {
		width: 30%;
	}
}
@media only screen and (max-width: 599px) and (min-width: 480px) {
	#contact-form form .radio-buttons label {
		width: 50%;
	}
}
@media only screen and (max-width: 479px) {
	body {
		font-size: 14px;
	}
	#logo {
		top: 23px;
		a {
			width: 60px;
			height: 60px;
			background-size: 60px 60px;
		}
	}
	#content.login .wrapper {
		width: 100%;
		padding-top: 200px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#main-nav ul li.dd-menu {
		margin-left: 15px;
	}
	.content-heading {
		font-size: 1.75em;
	}
	.content-subheading {
		font-size: 1.5em;
	}
	#right-side .comment-box .user-info {
		float: none;
	}
	#right-side .comment-box .comment-text {
		margin-left: 0;
	}
	#right-side .comment-box .comment-text .message {
		min-height: auto;
	}
	.pinned-images {
		float: none;
		max-width: 100%;
	}
	.pop-up .wrapper .content .buttons {
		text-align: center;
	}
	.submit-wrap {
		margin-top: 15px;
		float: none;
		text-align: center;
		> div {
			position: relative;
			display: inline-block;
		}
	}
	.pop-up {
		.polygon-button {
			font-size: 1em;
		}
	}
	#contact-form form .radio-buttons label {
		width: 100%;
	}
	#contact-form form table td.inputs-2 {
		white-space: normal;
		.input-field {
			width: 100%;
		}
	}
	#content .unique-features .list-features ul li {
		padding-left: 15px;
		padding-right: 15px;
	}
	#header-title.product h1 {
		font-size: 2em;
	}
	#content .buy-row .polygon-button {
		height: 40px;
		padding-top: .875em;
		span {
			line-height: 45px;
		}
	}
	#content .options {
		padding: 50px 0;
	}
	#content .click-slide p {
		font-size: 1.25em;
		margin-bottom: 10px;
	}
	#content .include ul li {
		width: 100%;
		float: none;
	}
	#content.user-page #right-side .page-nav ul li {
		font-size: .75em;
	}
	#content.user-page .buttons a {
		font-size: .6em;
	}
	#content.user-page.edit-fields .table-wrapper table tr td:first-child {
		width: 35%;
		vertical-align: top;
		padding-top: 23px;
	}
	#content.user-page .input-field {
		width: 100%;
		white-space: normal;
	}
	#content.user-page.edit-fields .table-wrapper table tr td:last-child {
		width: 65%;
	}
	#content.user-page .pass input {
		width: 100%;
	}
	#content.user-page.edit-fields .buttons a {
		font-size: .875em;
	}
	#content.user-page.edit-fields .buttons {
		input, a {
			height: 40px;
		}
		.polygon-button {
			padding-top: 15px;
		}
	}
	#content.user-page .inputs-2 .input-field {
		width: 100%;
		display: block;
	}
	.inputs-2 {
		.input-field {
			&:last-child {
				margin-top: 15px;
			}
		}
	}
	.invoice .right-side .polygon-button {
		font-size: .75em;
	}
	.invoice .right-side {
		margin-top: 7px;
	}
	#content.user-page.edit .oval-btn {
		margin-top: 0;
	}
	#main-nav ul li.dd-menu ul {
		right: 0;
		left: -50%;
	}
}
