body {
	font-family: maven;
	font-weight: 400;
	font-size: 16px;
	color: #404040;
}
* {
	outline: 0;
}
button {
	border: 0;
	background-color: transparent;
}
.top-navbar {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $top-navbar-bg-right;
	color: $blue-light;
	&:before {
		display: block;
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: calc(50% + 215px);
		background-color: #4469b3;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: calc(50% - 215px);
		width: 0;
		height: 0;
		border-top: 42px solid #4469b3;
		border-right: 14px solid transparent;
	}
	.contact-info {
		position: relative;
		z-index: 2;
		float: left;
	}
	.soc-networks {
		float: right;
		ul {
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 15px;
				}
				a {
					font-size: 1.125em;
					color: $blue-light;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
#hero {
	background-image: url('../img/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 380px;
}
.overlay-shapes {
	background-image: url('../img/shapes.png');
	background-size: cover;
}
#main-nav {
	margin-right: 10px;
}
.navbar {
	border-bottom: 1px solid rgba(255,255,255,.2);
	ul {
		float: right;
		li {
			float: left;
			&:not(:first-child) {
				margin-left: 20px;
			}
			a {
				display: block;
				padding-top: 47px;
				padding-bottom: 45px;
				font-family: exo;
				font-size: 0.875em;
				font-weight: 600;
				color: white;
				text-transform: uppercase;
			}
			&:not(.skew-button) {
				padding-left: 3px;
				padding-right: 3px;
				border-bottom: 3px solid transparent;
				&:hover {
					border-bottom: 3px solid $blue;
				}
			}
			&.skew-button {
				margin-top: 33px;
			    a {
			    	display: block;
					padding: 10px 25px;
			    	font-size: 1.25em;
			    	font-style: italic;
					font-weight: 500;
			    }
			    &:hover {
			    	background-color: $blue-hover;
			    }
			}
			&.active {
				border-bottom: 3px solid $blue;
				a {
					color: #bbd2ff;
				}
			}
		}
	}
}
#logo {
	margin-left: -3px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
	width: 268px;
	height: 33px;
	background-image: url('../img/logo.png');
	background-size: 268px 33px;
}

#content {
	margin-top: -1.8%;
	position: relative;
    z-index: 2;
    .skew-section {
    	background-color: #f5f5f5;
    }
    .move-top {
    	position: relative;
    	margin-top: -180px;
    	margin-bottom: 50px;
    }
    figure {
    	display: inline-block;
    	position: relative;
    	img {
	    	width: 220px;
	    	height: 220px;
	    	margin-bottom: 5px;
	    	border: 4px solid white;
	    	border-radius: 5px;
	    }
	    .country {
	    	color: #999999;
	    }
    }
    figcaption {
    	margin-left: 5px;
    	font-family: exo;
    	h1 {
    		font-size: 1.875em;
    		font-weight: 700;
    	}
    	p {
    		margin-top: 2px;
    		font-size: .875em;
    		color: #999999;
    		font-weight: 300;
    	}
    }
    .rank-num {
    	position: absolute;
    	top: 12px;
    	right: 12px;
    	height: 50px;
    	width: 50px;
    	border-radius: 50%;
    	line-height: 50px;
    	text-align: center;
    	background-color: rgba(0,0,0,.15);
    	color: white;
    }
    #badge-list {
    	float: left;
    	li {
    		float: left;
    		&:not(:first-child) {
    			margin-left: 70px;
    		}
    		a {
    			display: block;
    			height: 72px;
    		}
    		&:nth-child(1) {
    			width: 69px;
    			background-image: url('../img/b1.png');
    		}
    		&:nth-child(2) {
    			width: 46px;
    			background-image: url('../img/b2.png');
    		}
    		&:nth-child(3) {
    			width: 45px;
    			background-image: url('../img/b3.png');
    		}
    		&:nth-child(4) {
    			width: 45px;
    			background-image: url('../img/b4.png');
    		}
    		&:nth-child(5) {
    			width: 46px;
    			background-image: url('../img/b5.png');
    		}
    	}
    }
    .view-all {
    	margin-top: 10px;
    	float: right;
    	a {
			display: block;
			width: 160px;
			height: 54px;
			background-image: url('../img/all-bages.png');
    	}
    }
    .tables-row {
    	margin-top: 40px;
    }
	.table-heading, caption {
		line-height: 40px;
		i {
			position: relative;
			top: -1px;
		}
	}
	table {
		width: 100%;
		td {
			font-family: exo;
			font-weight: 400;
			padding-top: 6px;
			padding-bottom: 6px;
			&:first-child {
				color: $blue;
				vertical-align: top;
				padding-left: 25px;
				width: 35%;
			}
			&.load-more {
				padding-top: 30px;
				padding-bottom: 5px;
				font-size: 1.25em;
				text-align: center;
				text-transform: uppercase;
				.wrapper {
					padding-left: 55px;
					padding-right: 55px;
					> div {
						border-bottom: 1px solid #ccc;
					}
				}
				a {
					color: #666;
					
					.arrow-down {
						position: relative;
						top: -5px;
						display: inline-block;
						width: 17px;
						height: 16px;
						background-image: url('../img/arrow-down.png');
					}
				}
			}
			
		}
		caption {
			padding: 10px 20px;
			color: white;
			text-align: left;
			font-family: exo;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.375em;
			p {
				position: relative;
				top: 2px;
				display: inline-block;
			}
			i {
				text-align: center;
				line-height: 40px;
				width: 40px;
				height: 40px;
				font-size: 16px;
				border-radius: 50%;
				margin-right: 15px;
				background-color: rgba(0,0,0,.2);
			}
		}
		.fa-building:before {
			margin-left: 2px;
		}
		&.cols-2 {
			caption {
				background-color: #4769b0;
			}
		}
		&.cols-3 {
			caption {
				background-color: #38507e;
			}
			td {
			}
		}
	}
	.table-heading {
		padding: 10px 20px;
		color: white;
		text-align: left;
		font-family: exo;
		font-weight: 700;
		background-color: $blue;
		text-transform: uppercase;
		font-size: 1em;
		h2 {
			position: relative;
			top: 2px;
			display: inline-block;
		}
		i {
			text-align: center;
			line-height: 40px;
			width: 40px;
			height: 40px;
			font-size: 16px;
			border-radius: 50%;
			margin-right: 15px;
			background-color: rgba(0,0,0,.2);
		}
	}
	.table-content {
		padding: 10px 25px 50px;
		background-color: #fff;
		.image {
			vertical-align: top;
			margin-top: 20px;
			margin-right: 35px;
			display: inline-block;
			width: 190px;
			height: 190px;
		}
	}
	.company-name, .rank-info {
		vertical-align: middle;
		display: inline-block;
	}
	.company-name {
		padding: 15px 45px 15px 0;
		font-size: 2em;
	}
	.rank-info {
		padding: 15px 20px;
		background-color: #e6eeff;
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);

		.rank {
			position: relative;
			padding-right: 50px;
			padding-left: 50px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				width: 1px;
				height: 100%;
				background-color: #ccc;
			}
		}
		.score {
			padding-right: 50px;
			padding-left: 50px;
		}
		> div {
			display: inline-block;
			text-align: center;
			i {
				color: $blue;
				margin-right: 5px;
			}
			p {
				line-height: 1;
				&:first-child {
					font-size: 2.125em;
					color: #666;
				}
				&:last-child {
					font-size: 1.125em;
					color: #999;
					font-family: exo;
					font-weight: 300;
				}
			}
		}
	}
	.eval-1, .eval-2 {
		margin-top: 40px;
		display: inline-block;
		vertical-align: middle;
		table {
			tr {
				padding-top: 3px;
				padding-bottom: 3px;
				border-bottom: 1px solid #ccc;
			}
			td {
				font-weight: 700;
				font-family: maven;
				font-size: 1.5em;
				&:first-child {
					width: 50%;
					padding: 0;
					color: #999;
					text-transform: uppercase;
				}
				&:last-child {
					width: 50%;
					padding: 0;
					color: $blue;
					i {
						&:first-child {
							margin-left: 5px;
						}
						width: 23px;
					}
				}
			}
		}
	}
	.eval-2 {
		margin-left: 25px;
	}
	table {
		td {
			&.user-name {
				.img-wrapper {
					margin-right: 15px;
					height: 100%;
					display: inline-block;
				}
				.name-wrapper {
					margin-top: 10px;
					height: 100%;
					vertical-align: middle;
					overflow: hidden;
					text-overflow: ellipsis;
					width: calc(100% - 65px);
					display: inline-block;
				}
				img {
					width: 45px;
					height: 45px;
				}
				span {
					vertical-align: middle;
					font-size: 1.875em;
				}
			}
		}
		&.friends-invited {
			tr {
				&:first-child td {
					text-transform: uppercase;
					font-weight: 300;
					vertical-align: top;
				}
			}
			td {
				&:not(:first-child) {
					text-align: center;
				}
				&:first-child:not(.load-more) {
					border-right: 1px solid #ccc;
				}
			}
			.circle {
				display: inline-block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				vertical-align: middle;
				&.enabled {
					background-color: #77ff87;
				}
				&.disabled {
					background-color: #ff9177;
				}
			}
		}
		&.endorsements {
			tr {
				&:first-child {
					td {
						padding-top: 45px;
					}
				}
			}
			td {
				padding-bottom: 10px;
			}
			.load-more {
				padding-top: 35px;
				padding-bottom: 110px;
			}
		}
	}
	.general-info, .table-invite-wrapper, .endorsements {
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
		background-color: white;
	}
	.pop-up-buttons {
		padding: 25px;
		> div {
			display: inline-block;
			&:last-child {
				margin-left: 30px;
			}
		}
	}
	.left-pop-up-area {
		position: relative;
	}
	.circles-row {
		margin-top: 130px;
		margin-bottom: 470px;
		a {
			display: inline-block;
			width: 66%;
		}
	}
	.info-circle {
		display: inline-block;
		text-align: center;
		width: 100%;
		font-size: 1.875em;
		line-height: 1;
		font-family: exo;
		font-weight: 700;
		text-transform: uppercase;
		.img {
			position: relative;
			height: 0;
			line-height: 215px;
			margin-bottom: 20px;
			padding: 50% 10px;
			color: white;
			background-color: #38507e;
			border-radius: 50%;
			div {
				width: 95%;
				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%,-50%);
				&:before, &:after{
					content: '';
					height: 2px;
					position: absolute;
					width: 50%;
					left: 50%;
					transform: translateX(-50%);
					background-color: #fff;
				}
				&:before {
					top: 70px;
				}
				&:after {
					bottom: 70px;
				}
			}
		}
		p {
			font-weight: 400;
			color: $blue;
		}
		&.with-bg .img {
			background-image: url('../img/ornaments.png');
			background-size: 150%;
			background-color: #52ba9b;
			background-position: center;
		} 
	}
}
.pop-up-window {
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&.bubble {
		position: absolute;
		left: -25px;
		top: 80px;
		min-width: 270px;
		z-index: 5000;
		.wrapper {
			background-color: #fff;
			padding: 15px;
			.input-field {
				position: relative;
				input {
					width: 100%;
					padding: 10px 15px 10px 40px;
					border: 0;
					background-color: #e2e3e4;
					color: #b6b6b6;
					border-radius: 35px;
					height: 35px;
					text-transform: uppercase;
				}
				i {
					position: absolute;
					font-size: 1.25em;
				    top: 7px;
				    left: 10px;
				}
			}
			.list-items {
				margin-top: 20px;
				max-height: 320px;
				overflow: scroll;
				.item {
					font-size: 1.5em;
					font-family: exo;
					&:not(:first-child) {
						margin-top: 10px;
					}
					img {
						width: 45px;
						height: 45px;
						margin-right: 10px;
					}
				}
			}
		}
		&:before {
			content: '';
			width: 53px;
			height: 38px;
			position: absolute;
			top: -38px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url('../img/triangle.png');
		}
	}
	&.notification {
		padding: 60px 75px;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 5000;
		transform: translate(-50%, -50%);
		background-color: white;
		font-family: exo;
		text-transform: uppercase;
		text-align: center;
		button {
			width: 100%;
			font-weight: 500;
			background-color: #e2e3e4;
			height: 60px;
			line-height: 60px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 60px;
			margin-top: 10px;
			font-size: 1.5em;
			text-transform: uppercase;
			&:first-of-type {
				color: #38507e;
			}
			&:last-of-type {
				color: #ff9177;
			}
		}
		p {
			font-size: 1.875em;
			margin-bottom: 15px;
			&.title {
				font-size: 2.875em;
			}
		}
	}
	.soc-media {
		padding: 5px 15px;
		background-color: #c6c7c9;
		text-align: center;
		p {
			font-size: .875em;
			text-transform: uppercase;
			color: white;
		}
		ul {
			display: inline-block;
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 25px;
				}
				a {
					i {
						margin-top: 5px;
						color: #8b8b8b;
						font-size: 2em;
					}
				}
				&:hover a i {
					color: #404040;
				}
			}
		}
	}
}
#footer {
	position: relative;
	padding-top: 80px;
	background-color: white;
	margin-top: -1.8%;
	z-index: 3;
	.nav-links {
		a {
			font-size: 1.125em;
			text-transform: uppercase;
			color: #999;
			i {
				margin-right: 5px;
			}
			.fa-arrow-right {
				margin-right: 0;
			}
			span {
				color: #404040;
			}
		}
		hr {
			width: 100%;
			margin-top: 53px;
		}
		p {
			position: relative;
			text-transform: uppercase;
			padding-bottom: .4em;
			font-family: exo;
			font-size: 1.5em;
			font-weight: 300;
			&:after {
				content: "";
			    width: 27px;
			    height: 1px;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			}
			&.first {
				&:after {
					background-color: #5086f2;
				}
			}
			&.second {
				&:after {
					background-color: #e2b23e;
				}
			}
		}
	}
	hr {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0;
		background-color: #e5e5e5;
	}
	.sponsors-logo {
		margin-top: 65px;
		text-align: center;
		p {
			color: #bfbfbf;
			font-size: 15px;
			line-height: 1.2;
			span {
				font-size: 32px;
				text-transform: uppercase;
				color: #404040;
				font-family: exo;
				font-weight: 200;
			}
		}
		b {
			display: inline-block;
			margin-top: 15px;
			margin-bottom: 15px;
			position: relative;
			&:after {
				content: "";
			    width: 28px;
			    height: 1px;
			    position: absolute;
			    left: -14px;
			    bottom: 0;
			    background-color: #e2b23e;
			}
		}
		figcaption {
			margin-top: 3px;
			text-transform: uppercase;
			font-family: exo;
			font-size: 1.125em;
			font-weight: 300;
		}
		ul {
			margin-top: 20px;
			display: inline-block;
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 25px;
				}
				a {
					text-transform: uppercase;
					color: #808080;
					&:hover {
						color: #404040;
					}
				}
			}
		}
	}
	.copyright {
		position: relative;
		margin: 35px 0;
		font-size: 0.9375em;
		font-weight: 700;
		span {
			font-weight: 400;
		}
		.to-top {
			top: -5px;
			right: 5px;
			position: absolute;
			font-size: 1.5em;
			a {
				color: #e5e5e5;
				&:hover {
					color: #ccc;
				}
			}
		}
	}
}
