[data-animate="loaded"], [data-animate*="fadeIn"] {
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
[data-animate="fadeInUp"] {
  -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
}
[data-animate="fadeInUpLess"] {
  -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.loaded, .fadeIn, .fadeInUp, .fadeInUpLess {
  opacity: 1;
}
.fadeInUp, .fadeInUpLess {
  -webkit-transform: none;
  transform: none;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}