$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@media only screen and (max-width: 1199px) {
	.wheelContainer, .wheelContainer svg {
		position: static;
		transform: none!important;
	}
	#content .right-side {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: static;
		text-align: center;
		float: none;
		margin-bottom: 60px;
	}
	#content .right-side .click-button {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 479px)  {
	#content .right-side {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 14px;
	}
	#content .right-side .heading .skew-button {
		font-size: 1em;
	}
	#content .right-side .heading .main-heading {
		font-size: 1.75em;
	}
	#content .right-side .click-button {
		font-size: 1.75em;
	}
	#content .right-side {
		width: 100%;
	}
}