@font-face {
  font-family: icons;
  src: url("../fonts/fa/fa.eot");
  src: url("../fonts/fa/fa.svg") format("svg"), url("../fonts/fa/fa.woff2") format("woff2"), url("../fonts/fa/fa.woff") format("woff"), url("../fonts/fa/fa.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_reg/maven_reg.eot");
  src: url("../fonts/maven-pro/maven_reg/maven_reg.svg") format("svg"), url("../fonts/maven-pro/maven_reg/maven_reg.woff") format("woff"), url("../fonts/maven-pro/maven_reg/maven_reg.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_med/maven_med.eot");
  src: url("../fonts/maven-pro/maven_med/maven_med.svg") format("svg"), url("../fonts/maven-pro/maven_med/maven_med.woff") format("woff"), url("../fonts/maven-pro/maven_med/maven_med.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_bold/maven_bold.eot");
  src: url("../fonts/maven-pro/maven_bold/maven_bold.svg") format("svg"), url("../fonts/maven-pro/maven_bold/maven_bold.woff") format("woff"), url("../fonts/maven-pro/maven_bold/maven_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_ex/maven_ex.eot");
  src: url("../fonts/maven-pro/maven_ex/maven_ex.svg") format("svg"), url("../fonts/maven-pro/maven_ex/maven_ex.woff") format("woff"), url("../fonts/maven-pro/maven_ex/maven_ex.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.eot");
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.svg") format("svg"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.woff") format("woff"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.eot");
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.svg") format("svg"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.woff") format("woff"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.eot");
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.svg") format("svg"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.woff") format("woff"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.eot");
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.svg") format("svg"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.woff") format("woff"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.eot");
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.eot");
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.svg") format("svg"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.woff") format("woff"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.eot");
  src: url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.eot");
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.eot");
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.svg") format("svg"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.woff") format("woff"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.eot");
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.hamburger-menu {
  display: none;
  width: 30px;
  height: 21px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .hamburger-menu {
    display: inline-block;
  }
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  opacity: 1;
  left: 0;
}

.hamburger-menu span:nth-child(1) {
  top: 0px;
}

.hamburger-menu span:nth-child(2) {
  top: 8px;
}

.hamburger-menu span:nth-child(3) {
  top: 16px;
}

.container-restricted {
  padding-left: 55px;
  padding-right: 55px;
}

.fixed-deg {
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
}

.subtitle .skew-button {
  margin-left: 5px;
  display: inline-block;
  padding: 2px 25px 4px;
  font-size: 1.5em;
  font-family: exo;
  line-height: 1;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mt-section {
  margin-top: -2.5%;
}

.skew-button {
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}

.skew-button.skew-button__blue {
  background-color: #5086f2;
  color: white;
}

.skew-button.skew-button__white {
  background-color: white;
  color: #5086f2;
}

.skew-section {
  padding: 40px 0 90px;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  background-size: cover;
  background-position: center;
}

.fixed-deg-y {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

.uppercase {
  text-transform: uppercase;
}

.main-heading {
  letter-spacing: -1px;
  margin-top: 10px;
  font-family: exo;
  font-size: 3.125em;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 200;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  background-color: #fff;
}

[data-animate="loaded"], [data-animate*="fadeIn"] {
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

[data-animate="fadeInUp"] {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

[data-animate="fadeInUpLess"] {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.loaded, .fadeIn, .fadeInUp, .fadeInUpLess {
  opacity: 1;
}

.fadeInUp, .fadeInUpLess {
  -webkit-transform: none;
  transform: none;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: maven;
  font-weight: 400;
  font-size: 16px;
  color: #404040;
}

* {
  outline: 0;
}

button {
  border: 0;
  background-color: transparent;
}

.top-navbar {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5487eb;
  color: #bbd2ff;
}

.top-navbar:before {
  display: block;
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(50% + 215px);
  background-color: #4469b3;
}

.top-navbar:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: calc(50% - 215px);
  width: 0;
  height: 0;
  border-top: 42px solid #4469b3;
  border-right: 14px solid transparent;
}

.top-navbar .contact-info {
  position: relative;
  z-index: 2;
  float: left;
}

.top-navbar .soc-networks {
  float: right;
}

.top-navbar .soc-networks ul li {
  float: left;
}

.top-navbar .soc-networks ul li:not(:first-child) {
  margin-left: 15px;
}

.top-navbar .soc-networks ul li a {
  font-size: 1.125em;
  color: #bbd2ff;
}

.top-navbar .soc-networks ul li a:hover {
  color: white;
}

#hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
}

.overlay-shapes {
  background-image: url("../img/shapes.png");
  background-size: cover;
}

#main-nav {
  margin-right: 10px;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar ul {
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li:not(:first-child) {
  margin-left: 20px;
}

.navbar ul li a {
  display: block;
  padding-top: 47px;
  padding-bottom: 45px;
  font-family: exo;
  font-size: 0.875em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.navbar ul li:not(.skew-button) {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 3px solid transparent;
}

.navbar ul li:not(.skew-button):hover {
  border-bottom: 3px solid #5086f2;
}

.navbar ul li.skew-button {
  margin-top: 33px;
}

.navbar ul li.skew-button a {
  display: block;
  padding: 10px 25px;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 500;
}

.navbar ul li.skew-button:hover {
  background-color: #4469b3;
}

.navbar ul li.active {
  border-bottom: 3px solid #5086f2;
}

.navbar ul li.active a {
  color: #bbd2ff;
}

#logo {
  margin-left: -3px;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  width: 268px;
  height: 33px;
  background-image: url("../img/logo.png");
  background-size: 268px 33px;
}

#content {
  margin-top: -1.8%;
  position: relative;
  z-index: 2;
}

#content .skew-section {
  background-color: #f5f5f5;
}

#content .move-top {
  position: relative;
  margin-top: -180px;
  margin-bottom: 50px;
}

#content figure {
  display: inline-block;
  position: relative;
}

#content figure img {
  width: 220px;
  height: 220px;
  margin-bottom: 5px;
  border: 4px solid white;
  border-radius: 5px;
}

#content figure .country {
  color: #999999;
}

#content figcaption {
  margin-left: 5px;
  font-family: exo;
}

#content figcaption h1 {
  font-size: 1.875em;
  font-weight: 700;
}

#content figcaption p {
  margin-top: 2px;
  font-size: .875em;
  color: #999999;
  font-weight: 300;
}

#content .rank-num {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
}

#content #badge-list {
  float: left;
}

#content #badge-list li {
  float: left;
}

#content #badge-list li:not(:first-child) {
  margin-left: 70px;
}

#content #badge-list li a {
  display: block;
  height: 72px;
}

#content #badge-list li:nth-child(1) {
  width: 69px;
  background-image: url("../img/b1.png");
}

#content #badge-list li:nth-child(2) {
  width: 46px;
  background-image: url("../img/b2.png");
}

#content #badge-list li:nth-child(3) {
  width: 45px;
  background-image: url("../img/b3.png");
}

#content #badge-list li:nth-child(4) {
  width: 45px;
  background-image: url("../img/b4.png");
}

#content #badge-list li:nth-child(5) {
  width: 46px;
  background-image: url("../img/b5.png");
}

#content .view-all {
  margin-top: 10px;
  float: right;
}

#content .view-all a {
  display: block;
  width: 160px;
  height: 54px;
  background-image: url("../img/all-bages.png");
}

#content .tables-row {
  margin-top: 40px;
}

#content .table-heading, #content caption {
  line-height: 40px;
}

#content .table-heading i, #content caption i {
  position: relative;
  top: -1px;
}

#content table {
  width: 100%;
}

#content table td {
  font-family: exo;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 6px;
}

#content table td:first-child {
  color: #5086f2;
  vertical-align: top;
  padding-left: 25px;
  width: 35%;
}

#content table td.load-more {
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
}

#content table td.load-more .wrapper {
  padding-left: 55px;
  padding-right: 55px;
}

#content table td.load-more .wrapper > div {
  border-bottom: 1px solid #ccc;
}

#content table td.load-more a {
  color: #666;
}

#content table td.load-more a .arrow-down {
  position: relative;
  top: -5px;
  display: inline-block;
  width: 17px;
  height: 16px;
  background-image: url("../img/arrow-down.png");
}

#content table caption {
  padding: 10px 20px;
  color: white;
  text-align: left;
  font-family: exo;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.375em;
}

#content table caption p {
  position: relative;
  top: 2px;
  display: inline-block;
}

#content table caption i {
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

#content table .fa-building:before {
  margin-left: 2px;
}

#content table.cols-2 caption {
  background-color: #4769b0;
}

#content table.cols-3 caption {
  background-color: #38507e;
}

#content .table-heading {
  padding: 10px 20px;
  color: white;
  text-align: left;
  font-family: exo;
  font-weight: 700;
  background-color: #5086f2;
  text-transform: uppercase;
  font-size: 1em;
}

#content .table-heading h2 {
  position: relative;
  top: 2px;
  display: inline-block;
}

#content .table-heading i {
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

#content .table-content {
  padding: 10px 25px 50px;
  background-color: #fff;
}

#content .table-content .image {
  vertical-align: top;
  margin-top: 20px;
  margin-right: 35px;
  display: inline-block;
  width: 190px;
  height: 190px;
}

#content .company-name, #content .rank-info {
  vertical-align: middle;
  display: inline-block;
}

#content .company-name {
  padding: 15px 45px 15px 0;
  font-size: 2em;
}

#content .rank-info {
  padding: 15px 20px;
  background-color: #e6eeff;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
}

#content .rank-info .rank {
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
}

#content .rank-info .rank:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

#content .rank-info .score {
  padding-right: 50px;
  padding-left: 50px;
}

#content .rank-info > div {
  display: inline-block;
  text-align: center;
}

#content .rank-info > div i {
  color: #5086f2;
  margin-right: 5px;
}

#content .rank-info > div p {
  line-height: 1;
}

#content .rank-info > div p:first-child {
  font-size: 2.125em;
  color: #666;
}

#content .rank-info > div p:last-child {
  font-size: 1.125em;
  color: #999;
  font-family: exo;
  font-weight: 300;
}

#content .eval-1, #content .eval-2 {
  margin-top: 40px;
  display: inline-block;
  vertical-align: middle;
}

#content .eval-1 table tr, #content .eval-2 table tr {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}

#content .eval-1 table td, #content .eval-2 table td {
  font-weight: 700;
  font-family: maven;
  font-size: 1.5em;
}

#content .eval-1 table td:first-child, #content .eval-2 table td:first-child {
  width: 50%;
  padding: 0;
  color: #999;
  text-transform: uppercase;
}

#content .eval-1 table td:last-child, #content .eval-2 table td:last-child {
  width: 50%;
  padding: 0;
  color: #5086f2;
}

#content .eval-1 table td:last-child i, #content .eval-2 table td:last-child i {
  width: 23px;
}

#content .eval-1 table td:last-child i:first-child, #content .eval-2 table td:last-child i:first-child {
  margin-left: 5px;
}

#content .eval-2 {
  margin-left: 25px;
}

#content table td.user-name .img-wrapper {
  margin-right: 15px;
  height: 100%;
  display: inline-block;
}

#content table td.user-name .name-wrapper {
  margin-top: 10px;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 65px);
  display: inline-block;
}

#content table td.user-name img {
  width: 45px;
  height: 45px;
}

#content table td.user-name span {
  vertical-align: middle;
  font-size: 1.875em;
}

#content table.friends-invited tr:first-child td {
  text-transform: uppercase;
  font-weight: 300;
  vertical-align: top;
}

#content table.friends-invited td:not(:first-child) {
  text-align: center;
}

#content table.friends-invited td:first-child:not(.load-more) {
  border-right: 1px solid #ccc;
}

#content table.friends-invited .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

#content table.friends-invited .circle.enabled {
  background-color: #77ff87;
}

#content table.friends-invited .circle.disabled {
  background-color: #ff9177;
}

#content table.endorsements tr:first-child td {
  padding-top: 45px;
}

#content table.endorsements td {
  padding-bottom: 10px;
}

#content table.endorsements .load-more {
  padding-top: 35px;
  padding-bottom: 110px;
}

#content .general-info, #content .table-invite-wrapper, #content .endorsements {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
}

#content .pop-up-buttons {
  padding: 25px;
}

#content .pop-up-buttons > div {
  display: inline-block;
}

#content .pop-up-buttons > div:last-child {
  margin-left: 30px;
}

#content .left-pop-up-area {
  position: relative;
}

#content .circles-row {
  margin-top: 130px;
  margin-bottom: 470px;
}

#content .circles-row a {
  display: inline-block;
  width: 66%;
}

#content .info-circle {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.875em;
  line-height: 1;
  font-family: exo;
  font-weight: 700;
  text-transform: uppercase;
}

#content .info-circle .img {
  position: relative;
  height: 0;
  line-height: 215px;
  margin-bottom: 20px;
  padding: 50% 10px;
  color: white;
  background-color: #38507e;
  border-radius: 50%;
}

#content .info-circle .img div {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content .info-circle .img div:before, #content .info-circle .img div:after {
  content: '';
  height: 2px;
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

#content .info-circle .img div:before {
  top: 70px;
}

#content .info-circle .img div:after {
  bottom: 70px;
}

#content .info-circle p {
  font-weight: 400;
  color: #5086f2;
}

#content .info-circle.with-bg .img {
  background-image: url("../img/ornaments.png");
  background-size: 150%;
  background-color: #52ba9b;
  background-position: center;
}

.pop-up-window {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.pop-up-window.active {
  opacity: 1;
  visibility: visible;
}

.pop-up-window.bubble {
  position: absolute;
  left: -25px;
  top: 80px;
  min-width: 270px;
  z-index: 5000;
}

.pop-up-window.bubble .wrapper {
  background-color: #fff;
  padding: 15px;
}

.pop-up-window.bubble .wrapper .input-field {
  position: relative;
}

.pop-up-window.bubble .wrapper .input-field input {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border: 0;
  background-color: #e2e3e4;
  color: #b6b6b6;
  border-radius: 35px;
  height: 35px;
  text-transform: uppercase;
}

.pop-up-window.bubble .wrapper .input-field i {
  position: absolute;
  font-size: 1.25em;
  top: 7px;
  left: 10px;
}

.pop-up-window.bubble .wrapper .list-items {
  margin-top: 20px;
  max-height: 320px;
  overflow: scroll;
}

.pop-up-window.bubble .wrapper .list-items .item {
  font-size: 1.5em;
  font-family: exo;
}

.pop-up-window.bubble .wrapper .list-items .item:not(:first-child) {
  margin-top: 10px;
}

.pop-up-window.bubble .wrapper .list-items .item img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.pop-up-window.bubble:before {
  content: '';
  width: 53px;
  height: 38px;
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/triangle.png");
}

.pop-up-window.notification {
  padding: 60px 75px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5000;
  transform: translate(-50%, -50%);
  background-color: white;
  font-family: exo;
  text-transform: uppercase;
  text-align: center;
}

.pop-up-window.notification button {
  width: 100%;
  font-weight: 500;
  background-color: #e2e3e4;
  height: 60px;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 60px;
  margin-top: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.pop-up-window.notification button:first-of-type {
  color: #38507e;
}

.pop-up-window.notification button:last-of-type {
  color: #ff9177;
}

.pop-up-window.notification p {
  font-size: 1.875em;
  margin-bottom: 15px;
}

.pop-up-window.notification p.title {
  font-size: 2.875em;
}

.pop-up-window .soc-media {
  padding: 5px 15px;
  background-color: #c6c7c9;
  text-align: center;
}

.pop-up-window .soc-media p {
  font-size: .875em;
  text-transform: uppercase;
  color: white;
}

.pop-up-window .soc-media ul {
  display: inline-block;
}

.pop-up-window .soc-media ul li {
  float: left;
}

.pop-up-window .soc-media ul li:not(:first-child) {
  margin-left: 25px;
}

.pop-up-window .soc-media ul li a i {
  margin-top: 5px;
  color: #8b8b8b;
  font-size: 2em;
}

.pop-up-window .soc-media ul li:hover a i {
  color: #404040;
}

#footer {
  position: relative;
  padding-top: 80px;
  background-color: white;
  margin-top: -1.8%;
  z-index: 3;
}

#footer .nav-links a {
  font-size: 1.125em;
  text-transform: uppercase;
  color: #999;
}

#footer .nav-links a i {
  margin-right: 5px;
}

#footer .nav-links a .fa-arrow-right {
  margin-right: 0;
}

#footer .nav-links a span {
  color: #404040;
}

#footer .nav-links hr {
  width: 100%;
  margin-top: 53px;
}

#footer .nav-links p {
  position: relative;
  text-transform: uppercase;
  padding-bottom: .4em;
  font-family: exo;
  font-size: 1.5em;
  font-weight: 300;
}

#footer .nav-links p:after {
  content: "";
  width: 27px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer .nav-links p.first:after {
  background-color: #5086f2;
}

#footer .nav-links p.second:after {
  background-color: #e2b23e;
}

#footer hr {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
  background-color: #e5e5e5;
}

#footer .sponsors-logo {
  margin-top: 65px;
  text-align: center;
}

#footer .sponsors-logo p {
  color: #bfbfbf;
  font-size: 15px;
  line-height: 1.2;
}

#footer .sponsors-logo p span {
  font-size: 32px;
  text-transform: uppercase;
  color: #404040;
  font-family: exo;
  font-weight: 200;
}

#footer .sponsors-logo b {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

#footer .sponsors-logo b:after {
  content: "";
  width: 28px;
  height: 1px;
  position: absolute;
  left: -14px;
  bottom: 0;
  background-color: #e2b23e;
}

#footer .sponsors-logo figcaption {
  margin-top: 3px;
  text-transform: uppercase;
  font-family: exo;
  font-size: 1.125em;
  font-weight: 300;
}

#footer .sponsors-logo ul {
  margin-top: 20px;
  display: inline-block;
}

#footer .sponsors-logo ul li {
  float: left;
}

#footer .sponsors-logo ul li:not(:first-child) {
  margin-left: 25px;
}

#footer .sponsors-logo ul li a {
  text-transform: uppercase;
  color: #808080;
}

#footer .sponsors-logo ul li a:hover {
  color: #404040;
}

#footer .copyright {
  position: relative;
  margin: 35px 0;
  font-size: 0.9375em;
  font-weight: 700;
}

#footer .copyright span {
  font-weight: 400;
}

#footer .copyright .to-top {
  top: -5px;
  right: 5px;
  position: absolute;
  font-size: 1.5em;
}

#footer .copyright .to-top a {
  color: #e5e5e5;
}

#footer .copyright .to-top a:hover {
  color: #ccc;
}

@media only screen and (max-width: 1199px) {
  .container-restricted {
    padding: 0;
  }
  #logo {
    float: none;
    margin: 0 auto;
  }
  #main-nav {
    margin: 0;
    overflow: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    padding-top: 0;
    max-height: 0;
    z-index: 99999;
    opacity: 0;
    background-color: rgba(68, 105, 179, 0.93);
    -webkit-transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
    transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
  }
  #main-nav.open {
    max-height: 300px;
    padding-top: 10px;
    opacity: 1;
  }
  #main-nav .skew-button, #main-nav .fixed-deg {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  #main-nav .skew-button {
    background-color: #364b74;
  }
  #main-nav li {
    margin: 0 !important;
    display: block;
    float: none;
    text-align: center;
  }
  #main-nav li.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 0;
  }
  #main-nav li a {
    display: inline-block;
    padding: 10px;
  }
  #main-nav.open {
    display: block;
  }
  .navbar {
    position: relative;
    padding-top: 27px;
    height: 85px;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
  }
  .navbar.sticky {
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    position: fixed;
    background-color: rgba(68, 105, 179, 0.93);
  }
  .navbar.sticky #logo {
    margin-bottom: 0;
  }
  .navbar.menu-open {
    background-color: rgba(68, 105, 179, 0.93);
  }
  #content table td.load-more {
    padding-left: 0;
  }
  #content .circles-row {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  #content .circles-row .info-circle {
    margin-top: 40px;
  }
  #content table.endorsements .load-more {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .container-restricted {
    padding: 0;
  }
  .top-navbar:before {
    right: calc(50% + 115px);
  }
  .top-navbar:after {
    left: calc(50% - 115px);
  }
  #content .circles-row a {
    width: 82%;
  }
  #content .eval-1, #content .eval-2 {
    width: calc(50% - 135px);
    margin-top: 50px;
    font-size: 13px;
  }
  #content table td.user-name span {
    font-size: 1.5em;
  }
  #content .eval-1 table td:last-child i, #content .eval-2 table td:last-child i {
    width: 17px;
  }
}

@media only screen and (min-width: 992px) {
  .pop-up-window.notification {
    width: 640px;
  }
}

@media only screen and (max-width: 991px) {
  #content table.endorsements tr:first-child td {
    padding-top: 0;
    padding-bottom: 10px;
  }
  #content table.endorsements td:first-child {
    width: 28%;
  }
  #content table.endorsements tbody {
    padding-top: 25px;
    display: block;
  }
  #content .table-invite-wrapper {
    margin-bottom: 50px;
  }
  #content table.endorsements .load-more {
    padding-bottom: 20px;
  }
  #content .pop-up-buttons {
    text-align: center;
  }
  #content .pop-up-buttons .pop-up-window {
    text-align: left;
  }
  #content .circles-row a {
    width: 100%;
  }
  .pop-up-window.notification {
    font-size: 10px;
    padding: 60px 45px;
    position: fixed;
    top: calc(50% + 40px);
    left: 100px;
    right: 100px;
    z-index: 5000;
    transform: translateY(-50%);
  }
  #content .move-top {
    text-align: center;
  }
  #content .move-top figure {
    display: inline-block;
    margin: 0;
  }
  #content .table-content {
    text-align: center;
  }
  #content .table-content .image {
    margin-top: 50px;
    margin-right: 0;
  }
  #content .company-name {
    display: block;
    padding-right: 0;
  }
  #content .eval-1, #content .eval-2 {
    margin-left: 0;
    width: 100%;
    text-align: left;
  }
  #content .eval-1 table, #content .eval-2 table {
    margin: 0 auto;
  }
  #content .eval-1 table td, #content .eval-2 table td {
    font-size: .875em;
  }
  #content .eval-1 table td:last-child i, #content .eval-2 table td:last-child i {
    width: 13px;
  }
  #content table.endorsements td.user-name img {
    position: absolute;
    display: inline-block;
    left: 15px;
    bottom: 7px;
    float: none;
    width: 45px;
    height: 45px;
    margin-right: 0;
  }
  #content table.endorsements td.user-name {
    position: relative;
    vertical-align: middle;
  }
  #content table.endorsements td.user-name span {
    display: block;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
  }
  #footer .copyright {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .top-navbar:before {
    right: 50%;
  }
  .top-navbar:after {
    left: 50%;
  }
  #content .eval-1 table, #content .eval-2 table {
    width: 240px;
  }
  #content table td.user-name span {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 991px) and (min-width: 480px) {
  #content .circles-row .info-circle {
    font-size: 1.25em;
  }
  #content table td.user-name {
    height: 57px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
  #hero {
    height: 300px;
    background-image: url("../img/hero-md.jpg");
  }
  .top-navbar {
    height: 83px;
  }
  .top-navbar:before {
    display: none;
  }
  .top-navbar:after {
    display: none;
  }
  .top-navbar .contact-info {
    float: none;
    text-align: center;
  }
  .top-navbar .soc-networks {
    margin-top: 10px;
    float: none;
    text-align: center;
  }
  .top-navbar .soc-networks ul {
    display: inline-block;
  }
  .top-navbar .soc-networks ul li:not(:first-child) {
    margin-left: 25px;
  }
  .top-navbar .soc-networks ul li a {
    font-size: 1.6em;
  }
  .pop-up-window.notification {
    font-size: 10px;
    padding: 60px 15px;
    position: fixed;
    top: calc(50% + 40px);
    left: 15px;
    right: 15px;
    z-index: 5000;
    transform: translateY(-50%);
  }
  .p0 {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-top: 32px;
  }
  #logo {
    width: 176px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .subtitle .skew-button {
    font-size: 1.125em;
  }
  .main-heading {
    font-size: 2.25em;
  }
  .skew-section {
    padding-top: 80px !important;
  }
  #content .eval-1 table, #content .eval-2 table {
    width: 230px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  #logo {
    width: 215px;
    height: 30px;
  }
  #content .rank-info .rank, #content .rank-info .score {
    padding-left: 35px;
    padding-right: 35px;
  }
  #content table td.user-name img {
    top: 2px;
  }
  #content table td.user-name span {
    font-size: 1em;
  }
}

@media only screen and (max-width: 479px) {
  #footer .sponsors-logo ul li:not(:first-child) {
    margin-left: 0;
  }
  #footer .sponsors-logo ul li {
    float: none;
    margin-top: 10px;
  }
  #footer .copyright {
    margin: 30px 0 50px;
  }
  #footer .copyright .to-top {
    top: 25px;
  }
  #content table.endorsements td.user-name img {
    width: 25px;
    height: 25px;
  }
  #content {
    margin-top: -5%;
  }
  #content table td.user-name span {
    font-size: 1em;
    vertical-align: top;
  }
  #content table td.user-name {
    width: 45%;
    padding-left: 15px;
  }
  #content table td.user-name img {
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  #content table.friends-invited tr:first-child td {
    font-size: 8px;
  }
  #content table.friends-invited tr td:not(:first-child) {
    width: 17.5%;
  }
  #content .pop-up-buttons > div:last-child {
    margin-top: 20px;
    margin-left: 0;
  }
  .pop-up-window.bubble {
    left: -15px;
    right: -15px;
    min-width: 2px;
  }
  .pop-up-window.bubble .list-items {
    text-align: left;
  }
  #content .circles-row > div {
    width: 100%;
  }
  #content .table-heading, #content caption {
    font-size: 13px;
  }
  #content table td.user-name .img-wrapper {
    vertical-align: middle;
    margin-right: 0;
  }
  #content table td.user-name .name-wrapper {
    margin-top: 3px;
  }
  .left-pop-up-area, .right-pop-up-area {
    width: 100%;
    text-align: center;
  }
  #content .move-top {
    text-align: center;
  }
  #content .move-top figure {
    display: inline-block;
    margin: 0;
  }
  #content .table-content .image {
    margin-top: 50px;
    margin-right: 0;
  }
  #content .table-content .rank-info .rank {
    margin-bottom: 20px;
  }
  #content .table-content .rank-info .rank:after {
    display: none;
  }
}
