* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a, a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	line-height: 1;
}
img {
	max-width: 100%;
	height: auto;
}
.container-restricted {
	padding-left: 55px;
	padding-right: 55px;
}
.fixed-deg {
	-webkit-transform: skew(15deg);
    -ms-transform: skew(15deg);
    transform: skew(15deg);
}
.subtitle {
	.skew-button {
		margin-left: 5px;
		display: inline-block;
		padding: 2px 25px 4px;
		font-size: 1.5em;
		font-family: exo;
		line-height: 1;
		font-weight: 800;
		font-style: italic;
		text-transform: uppercase;
	}
}
.skew-button {
	-webkit-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    &.skew-button__blue {
		background-color: $blue;
		color: white;
    }
    &.skew-button__white {
		background-color: white;
		color: $blue;
    }
}
.pl0 {
	padding-left: 0;
}
.pr0 {
	padding-right: 0;
}
.skew-section {
	padding: 140px 0 90px;
	-webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    background-size: cover;
	background-position: center;
}
.fixed-deg-y {
	-webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg);
}
.fa-mobile {
	font-size: 1.5em;
}
.uppercase {
	text-transform: uppercase;
}
.main-heading {
	letter-spacing: -1px;
	margin-top: 10px;
	font-family: exo;
	font-size: 3.125em;
	text-transform: uppercase;
	font-weight: 200;
}
.info-box {
	margin-top: 40px;
	position: relative;
	padding: 20px 30px 20px 2.875em;
	color: $dark;
	background-color: white;
	text-align: left;
	font-size: 1.0625em;
	i {
		position: absolute;
		top: 21px;
		left: 20px;
		color: #ccc;
		font-size: 1.25em;
	}
}
.modal {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
}
// tabs
#current-event {
	.page {
		display: none;
		-webkit-animation: fadeEffect .5s ease;
		animation: fadeEffect .5s ease;
		&.active {
			display: block;
		}
	}
}
.tab-item {
	display: none;
	-webkit-animation: fadeEffect .5s ease;
	animation: fadeEffect .5s ease;
	&.active {
		display: block;
	}
}
// slider 
.bx-wrapper {
	position: relative;
	.bx-prev, .bx-next {
		position: absolute;
		top: 50%;
		font-size: 1.5em;
		margin-top: -12px;
		color: $blue;
		opacity: .5;
		&:hover {
			opacity: 1;
		}
	}
}
.bx-wrapper .bx-prev {
	left: -40px;
}

.bx-wrapper .bx-next {
	right: -40px;
}