body {
	font-family: maven;
	font-weight: 400;
	font-size: 16px;
	color: #404040;
}

.top-navbar {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $top-navbar-bg-right;
	background-image: url('../img/top-navbar.png');
	background-repeat: no-repeat;
	color: $blue-light;
	.contact-info {
		float: left;
	}
	.soc-networks {
		float: right;
		ul {
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 15px;
				}
				a {
					font-size: 1.125em;
					color: $blue-light;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
#hero {
	background-image: url('../img/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.overlay-shapes {
	background-image: url('../img/shapes.png');
	background-size: cover;
}
#main-nav {
	margin-right: 10px;
}
.navbar {
	border-bottom: 1px solid rgba(255,255,255,.2);
	ul {
		float: right;
		li {
			float: left;
			&:not(:first-child) {
				margin-left: 20px;
			}
			a {
				display: block;
				padding-top: 47px;
				padding-bottom: 45px;
				font-family: exo;
				font-size: 0.875em;
				font-weight: 600;
				color: white;
				text-transform: uppercase;
			}
			&:not(.skew-button) {
				padding-left: 3px;
				padding-right: 3px;
				border-bottom: 3px solid transparent;
				&:hover {
					border-bottom: 3px solid $blue;
				}
			}
			&.skew-button {
				margin-top: 33px;
			    a {
			    	display: block;
					padding: 10px 25px;
			    	font-size: 1.25em;
			    	font-style: italic;
					font-weight: 500;
			    }
			    &:hover {
			    	background-color: $blue-hover;
			    }
			}
			&.active {
				border-bottom: 3px solid $blue;
				a {
					color: #bbd2ff;
				}
			}
		}
	}
}
.heading {
	padding: 70px 0 100px;
	text-align: center;
	color: white;
}
#logo {
	margin-left: -3px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
	width: 268px;
	height: 33px;
	background-image: url('../img/logo.png');
	background-size: 268px 33px;
}

#current-event {
	margin-top: -1.8%;
	.skew-section {
		background-color: #f0f0f0;
		background-image: url('../img/lines-grey.png');
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: auto;
	    color: white;
	}
    .main-heading {
    	margin-bottom: 25px;
    	color: $heading-color;
    	float: left;
    }
    .tab-nav {
    	margin-top: 23px;
    	float: right;
		li {
			float: left;
			padding-left: 1px;
			padding-right: 1px;
			padding-bottom: 1px;
			&:not(:first-child) {
				margin-left: 20px;
			}
			a {
				font-size: 1.25em;
				font-weight: 700;
				text-transform: uppercase;
				color: #999;
			}
			&.active {
				border-bottom: 4px solid $blue;
				a {
					color: $blue;
				}
			}
		}
    }
	.img-item {
		position: relative;
		img {
			filter: url(#greyscale);
		    filter: gray;
		    -webkit-filter: grayscale(1);
		    -webkit-filter: grayscale(100%);
		    filter: grayscale(100%);
		    -webkit-transition: all .3s ease;
		    transition: all .3s ease;
		}
		margin-bottom: 25px;
		.overlay {
			position: absolute;
			z-index: 1;
			top: 0;
			height: 40%;
			left: 15px;
			right: 15px;
			padding: 20px;
			background-repeat: no-repeat;
			&.purple {
				background-image: url('../img/current-bg/purp.png');
			}
			&.green {
				background-image: url('../img/current-bg/green.png');
			}
			&.pink {
				background-image: url('../img/current-bg/pink.png');
			}
			&.dark {
				background-image: url('../img/current-bg/dark.png');
			}
			&.yellow {
				background-image: url('../img/current-bg/yell.png');
			}
			&.red {
				background-image: url('../img/current-bg/red.png');
			}
			p {
				line-height: 1.2;
				text-align: left;
				color: white;
				&:first-child {
					font-size: 1.25em;
					text-transform: uppercase;
					font-style: italic;
					font-weight: 700;
				}
				&:last-child {
					font-size: 1.5em;
				}
			}
		}
		.search {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			display: inline-block;
			margin-top: -37px;
			margin-left: -37px;
			width: 74px;
			height: 74px;
			text-align: center;
			background-color: rgba(0,0,0,.4);
			-webkit-transition: opacity .3s ease;
			transition: opacity .3s ease;
			i {
				color: #ccc;
				font-size: 2.75em;
				line-height: 74px;
			}
		}
	    &:hover {
	    	img {
		    	-webkit-filter:none;
	  			filter: none;
	  		}
	    	.search {
				opacity: 1;
			}
	    }
	}
	.pagination {
		float: right;
		li {
			text-align: center;
			float: left;
			&:not(:first-child) {
				margin-left: 3px;
			}
			&.active {
				a {
					background-color: $blue;
				}
			}
			&.arrow {
				a {
					background-color: $heading-color;
				}
				&:hover {
					a {
						background-color: #233b69;
					}
				}
			}
			a {
				display: block;
				width: 46px;
				height: 46px;
				line-height: 46px;
				background-color: #999;
				color: white;
				font-size: 1.125em;
				border-radius: 5px;
			}
		}
	}
}

#past-event {
	.skew-section {
		background-color: #fafafa;
		background-image: url('../img/lines-grey2.png');
		background-size: auto;
		background-repeat: no-repeat;
		background-position: left bottom;
		padding-bottom: 180px;
	}
	.main-heading {
    	margin-bottom: 25px;
    	color: $heading-color;
    	float: left;
    }
    .tab-nav {
    	margin-top: 23px;
    	float: right;
		li {
			float: left;
			padding-left: 1px;
			padding-right: 1px;
			padding-bottom: 1px;
			&:not(:first-child) {
				margin-left: 20px;
			}
			a {
				font-size: 1.25em;
				font-weight: 700;
				text-transform: uppercase;
				color: #999;
			}
			&.active {
				border-bottom: 4px solid $blue;
				a {
					color: $blue;
				}
			}
		}
    }
    .insta-title {
    	float: left;
    	.main-heading {
    		float: none;
    	}
    }
    .instagram {
    	position: relative;
    	z-index: 2;
    	margin-top: 130px;
    }
    .follow-us {
    	margin-top: 48px;
    	float: right;
    	color: #d3d5dc;
    	i {
    		display: inline-block;
    		margin-top: 2px;
    		vertical-align: top;
    		text-align: center;
    		width: 35px;
    		height: 35px;
    		line-height: 35px;
    		background-color: #d3d5dc;
    		border-radius: 50%;
    		color: white;
    	}
    	p {
    		display: inline-block;
    		line-height: 1;
    		font-family: exo;
    		span {
    			font-size: 0.875em;
    		}
    		a {
    			font-size: 1.25em;
    			color: $blue;
    		}
    	}
    }
    .img-item {
    	width: 20%;
    	float: left;
    	position: relative;
		.hover {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 20px;
			background-color: rgba(80,134,242,.8);
			color: white;
			opacity: 0;
			-webkit-transition: opacity .3s ease;
			transition: opacity .3s ease;
			&:hover {
				opacity: 1;
			}
			p {
				height: 85%;
				border-bottom: 1px solid white;
				margin-bottom: 5px;
			}
			.like-comment {
				text-align: center;
				span {
					width: 46%;
					font-size: 1.25em;
					display: inline-block;
				}
			}
		}
    }
    .slide {
    	position: relative;
    	.caption {
			position: absolute;
			bottom: 0;
			height: 50%;
			left: 0;
			right: 0;
			background-image: url('../img/text-bg.png');
			background-repeat: no-repeat;
			background-position: bottom;
			padding-left: 15px;
			padding-right: 15px;
			p {
				position: absolute;
				bottom: 7px;
				color: white;
			}
    	}
    }
}
#nominating {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: -1.65%;
	position: relative;
	background-image: url('../img/lines-short.png'), url('../img/ornaments.png'), -moz-linear-gradient( -90deg, rgb(80,134,242) 0%, rgb(120,206,250) 100%);
	background-image: url('../img/lines-short.png'), url('../img/ornaments.png'), -webkit-linear-gradient( -90deg, rgb(80,134,242) 0%, rgb(120,206,250) 100%);
	background-image: url('../img/lines-short.png'), url('../img/ornaments.png'), -ms-linear-gradient( -90deg, rgb(80,134,242) 0%, rgb(120,206,250) 100%);
	background-image: url('../img/lines-short.png'), url('../img/ornaments.png'), linear-gradient( -90deg, rgb(80,134,242) 0%, rgb(120,206,250) 100%);
	background-position: 0 0, right bottom, 0 0;
	background-repeat: no-repeat;
	.italic-heading {
		float: left;
		margin-top: 7px;
		font-family: exo;
		font-weight: 200;
		font-style: italic;
		text-transform: uppercase;
		font-size: 2em;
		color: white;
		strong {
			font-weight: 500;
		}
	}
	.nominate-button {
		display: inline-block;
		font-family: exo;
		text-transform: uppercase;
		margin-left: 180px;
		.skew-button {
			border: 2px solid white;
		}
		.fixed-deg {
	    	display: block;
			padding: 10px 25px;
	    	font-size: 1.25em;
	    	font-style: italic;
			font-weight: 500;
			color: white;
	    }
	}

}
#footer {
	padding-top: 80px;
	p {
		position: relative;
		text-transform: uppercase;
		padding-bottom: .4em;
		font-family: exo;
		font-size: 1.5em;
		font-weight: 300;
		&:after {
			content: "";
		    width: 27px;
		    height: 1px;
		    position: absolute;
		    left: 0;
		    bottom: 0;
		}
		&.first {
			&:after {
				background-color: #5086f2;
			}
		}
		&.second {
			&:after {
				background-color: #e2b23e;
			}
		}
	}
	.six-margin {
		margin-left: 29%;
	}
	.unicorn-margin {
		margin-left: 2%;
	}
	.sponsor-logo {
		margin-top: 15px;
	}
	.footer-nav {
		margin-top: 15px;
		li {
			border-bottom: 1px solid #e5e5e5;
			&:not(:first-child) {
				padding-top: 5px;
			}
			padding-bottom: 5px;
			a {
				color: #808080;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	hr {
		width: 80%;
		margin-top: 80px;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		background-color: #e5e5e5;
	}
	.copyright {
		position: relative;
		margin: 35px 0;
		font-size: 0.9375em;
		text-align: center;
		font-weight: 700;
		span {
			font-weight: 400;
		}
		.to-top {
			top: -5px;
			right: 5px;
			position: absolute;
			font-size: 1.5em;
			a {
				color: #e5e5e5;
			}
		}
	}
}
