$top-navbar-bg-right: #5487eb;

$nav-hover-line: #4a78cf;
$blue-light: #bbd2ff;
$skew-block: #4769b0;

$heading-color: #364b74;
$blue: #5086f2;
$blue-hover: #4469b3;
$dark: #404040;
$grey: #aaa;
$easy-grey: #f0f0f0;