<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Saber Mach :: Illuminating Passions</title>
	<link rel="stylesheet" href="../dist/font-awesome.css">
	<link rel="stylesheet" href="../dist/bootstrap.css">
	<link rel="stylesheet" href="../dist/styles.css">
	<link rel="shortcut icon" type="image/png" href="../dist/images/favicon.png">
</head>

<body class="page">

  	<header class="site-header">
  		<div class="fixed-bar">
			<div id="top-line"></div>
			<div class="clearfix" id="header-content">
				<div class="container">
				<div class="soc-networks">
					<ul>
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
						<li><a href=""><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
				<div id="logo"><a href=""></a></div>
				<div id="main-nav">
					<nav>
						<ul>
							<li class="bg-li store">
								<a href="">Store</a></li>
							<li class="bg-li cart">
								<a href="">Cart</a></li>
							<li class="bg-li login hidden">
								<a href="">Login</a></li>
							<li class="dd-menu">
								<span></span>
								<span></span>
								<span></span>
								<ul class="clearfix">
									<li>
										<a href="">
											<i class="fa fa-home"></i>
											<span>Home</span>
										</a>
									</li>
									<li>
										<a href="">
											<i class="fa fa-info-circle"></i>
											<span>About</span>
										</a>
									</li>
									<li>
										<a href="">
											<i class="fa fa-question-circle"></i>
											<span>Faq</span>
										</a>
									</li>
									<li>
										<a href="">
											<i class="fa fa-envelope"></i>
											<span>Contact</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
				</div>
			</div>
		</div>
  	</header><!-- .site-header -->
	
	<div class="content">
				
				<div class="page-header row">
					<h1 class="page-title"><span>About Us</span></h1>
				</div>

				<section class="page-section section-1">
					<div class="l-center row">
						<div class="col-3-1">
							<img src="../dist/images/img-3.png" class="img">
						</div>
						<div class="col-3-2">
							<h2 class="section-title">Our dedication towards high quality combat illuminated sabers</h2>
							<p><strong>SaberMach</strong>is a Singapore brand, focusing on building high quality combat illuminated sabers. All SaberMach products are manufactured in-house and made for one purpose - combat dueling. The ergonomic design of each saber provides the saberlist with maximum comfort while dueling. At SaberMach we are not just all about sabers. We are also manufacturers of premium quality custom designed and themed acrylic display cases. Our acrylic cases are highly detailed and custom designed and can be tailored made to each customer's unique preferences. Above all we provide all types of acrylic fabrication and engraving needs. Sabermach continues to strive to bring new original concepts and designs for a complete and holistic approach to collecting and displaying sabers and collectibles.</p>
						</div>
					</div><!-- .l-center -->
				</section>

				<section id="faq" class="page-section section-2">
					<div class="l-center row">
						<div class="col-3-2">
							<h2 class="section-title">FAQs</h2>
							<p><strong>Placing An Order</strong></br>Orders may be placed via the checkout cart on SABERMACH’s web store. Alternatively, emails can be sent to sales@sabermach.com. For a personal touch, you can call or Whatsapp message SABERMACH at +65 9859 2016 to place an order.</p>
							<p><strong>Customisation</strong></br>SABERMACH will be willing to accept customisation on a case-by-case basis.  Please direct all custom designs to sales@sabermach.com for a quotation.</p>
							<p><strong>Payments</strong></br>SABERMACH accepts PayPal for all international orders. COD or bank transfer is applicable for local orders in Singapore or within Asia only.</p>
							<p><strong>Cancellations</strong></br>All cancellations will be subjected to a 20% restocking fee. Please consider your options carefully before checking out. Any changes to confirmed orders will not be entertained. SABERMACH will allow changes under exceptional circumstances only, and at only at the Company’s discretion.</p>
							<p><strong>Shipping</strong></br>All local orders (within Singapore) may be picked up from SABERMACH’s main office premises. Local delivery can be arranged for a minimal fee.  Shipping costs will be based off the weight of the package as well as the destination. Please call or Whatsapp message SABERMACH for a quotation.</p>
							<p><strong>International Shipping</strong></br>International orders will be shipped via Fedex Economy with signature confirmation and insurance. SABERMACH will not be responsible for packages lost in transit, as that will be covered by said insurance, and will be the responsibility of customer(s) to requisition any and all claims directly to the shipping provider.</p>
							<p><strong>SABERMACH will ship worldwide</strong></br>Shipping costs will be based off the weight of the package as well as the destination. Please add your selected items to your shopping cart and start the checkout process for shipping costs.</p>
						</div>
						<div class="col-3-1">
							<img src="../dist/images/img2.png" class="img">
						</div>
					</div><!-- .l-center -->
				</section>

				<section id="tandc" class="page-section section-3">

					<div class="l-center row">
						<div class="col-4-1">
							<div class="header">
								<h2 class="entry-title">Terms & Contitions</h2>
								<div class="entry-meta">
									<svg viewBox="0 0 150 150" class="icon icon-info">
										<use xlink:href="/dist/icons/sprite.svg#icon_info"></use>
									</svg>
									Last Updated: <strong>28th Aug 2016</strong>
								</div>
							</div>
						</div>
						<div class="col-4-3">
							<h3>Warranties</h3>
							<h3 style="text-align: center;">WHAT IS COVERED AND FOR HOW LONG?</h3>
							<p>SABERMACH warrants that SABERMACH’s products are free from defects in material and workmanship under normal use and service for the period commencing upon the date of purchase by the first consumer purchaser and continuing for the following specified period of time after that date: 90 days.</p>
							<h3 style="text-align: center;">WHAT IS NOT COVERED?</h3>
							<p>This Limited Warranty is conditioned upon proper use of the Product. This Limited Warranty does not cover: (a) defects or damage resulting from accident, misuse, abnormal use, abnormal conditions, improper storage, exposure to liquid, moisture, dampness, sand or dirt, neglect, or unusual physical, electrical or electromechanical stress; (b) scratches, dents and cosmetic damage, unless caused by SABERMACH;</p>
							<p>Improper maintenance and operation of this Product or attempted repair and/or modifications by any party other than SABERMACH will render Limited Warranty VOID.</p>
							<p>All electronics i.e. soundboards; soundcards; LEDs; speakers; chargers; and batteries are not covered by SABERMACH’s warranty as SABERMACH does not produce said items.  SABERMACH will not be responsible for any failures to the aforementioned items or any other operator errors.</p>
							<h3 style="text-align: center;">WHAT ARE SABERMACH’S OBLIGATIONS?</h3>
							<p>During the applicable warranty period, provided the Product is returned in accordance with the terms of this Limited Warranty, SABERMACH will repair or replace the Product, at SABERMACH’S sole option, without charge. SABERMACH may, at SABERMACH’s sole option, use new parts or components when repairing any Product, or may replace the Product with a complete new one.</p>
							<h3 style="text-align: center;">HOW DO YOU OBTAIN WARRANTY SERVICE?</h3>
							<p>To obtain service under this Limited Warranty, you must return the Product to SABERMACH in an adequate container for shipping, accompanied by the sales receipt or comparable proof of sale showing the original date of purchase and the seller’s name and address. To obtain assistance on where to deliver the Product, please email to SABERMACH Customer service at sales@sabermach.com . If SABERMACH determines that any Product is not covered by this Limited Warranty, you must pay for the repair or replacement of such Product as well as shipment costs for the return to and from SABERMACH.</p>
							<p>Limited Warranty is NON TRANSFERABLE.</p>
							<p>Disclaimer 1:  Dueling, swordplay, fencing or combat with the Product can lead to injury and loss of property. SABERMACH will not accept any responsibility for any damage caused/received from the misuse and mishandling of any SABERMACH Products.</p>
							<p>Disclaimer 2:  SABERMACH is in no way affiliated, associated, licensed or endorsed by Lucasfilm Ltd., Industrial Light and Magic, Disney or any of their associates. All brands and trademarks listed are the exclusive property of their respective owners.</p>
							<p><strong>Refunds</strong></br>SABERMACH will not issue refunds for any reason; nor will SABERMACH ‘buy back’ any of our Products, as every single SABERMACH Product is handcrafted to every buyer(’s) unique specifications.</p>
							<p><strong>Privacy</strong></br>SABERMACH will be collecting all customers’ information upon registration on SABERMACH’s website; upon order confirmation; contest or sweepstake entries; response to surveys or general communication (even via email); and participation in any of SABERMACH’s offsite features.  Third-party links, as well as ‘cookies’ may be utilised in an effort to provide customer(’s) with an enhanced experience while visiting SABERMACH’s site.</p>
							<p>For purchases of the Product(s), SABERMACH will require buyer(’s) name, email address, mailing/billing address, phone number, credit card/PayPal information, and other such pertinent information.  Visits to SABERMACH’s website will however, be anonymous.</p>
							<p>For Product(s) purchased as gifts, SABERMACH will also require the recipient's information to expedite the orders.  Information collected with regards to gift recipient(s) will not be used for marketing purposes.</p>
							<p>SABERMACH may however, use customer’s information acquired with the aforementioned listed scenario(s) for the following:
							<ol>
								<li>personalising customer(’s) site experience</li>
								<li>delivering content and Product offerings most related to customer(’s) searches</li>
								<li>expedite all transactions</li>
								<li>administer contests; promotions; surveys; and any such other site feature</li>
								<li>update customer(’s) with SABERMACH’s newsletters in the form of emails</li>
								<li>to better respond to any and all customer(’s) enquiries and service requests</li>
							</ol></p>
							<p>SABERMACH will implement a variety of security measures to ensure the safety of all customer(’s) information.  Said information will then be contained securely, and will only be accessible by a limited number of persons with special rights to such systems and said persons will be prevailed to confidentiality. All sensitive and credit card information supplied to SABERMACH via any purchase transaction(s) or other means listed above will be transmitted via Secure Socket Layer (SSL) and encrypted only to be accessed by the stated persons above.</p>
							<p>SABERMACH will not sell, trade or transfer to outside parties any of the customer(’s) information provided except in cases of website hosting partners; and operational assistance.  SABERMACH however, will release customer(’s) information in cases where appropriate for SABERMACH to comply with the law; to enforce site policies or to protect SABERMACH’s rights, property and safety.</p>
							<p>By using SABERMACH’s site, all users and customers have consented to our privacy policy.</p>
						</div>
					</div><!-- .l-center -->
				</section>

				<section id="contact" class="page-section section-contact-form">
					<div class="l-center">
						<header class="section-header">
							<h2 class="heading">Contact Us</h2>
							<div class="sub-heading">
								<svg viewBox="0 0 150 150" class="icon icon-shine">
									<use xlink:href="/dist/icons/sprite.svg#icon_shine"></use>
								</svg>
									Feedback & Enquiries
								<svg viewBox="0 0 150 150" class="icon icon-shine">
									<use xlink:href="/dist/icons/sprite.svg#icon_shine"></use>
								</svg>
								</div>
						</header>
					</div><!-- .l-center -->

					<div class="l-center row">
						<div class="col-4-3">
							<p>For general enquiries related to placing an order, payment and shipping, you’ll probably be able to quickly find your answers in our FAQ Section. If you’re unable to find your answers there, we’re always happy to take your questions. Simply fill in your details below and we will get back to you within 3 working days.</p>
							<p>SABERMACH welcomes any and all feedback regarding the Products and services, as well as any comments or concerns regarding privacy.</p>
							<form action="#" id="form" class="contact-form" method="post" name="form">
								<div class="input-2">
									<input type="text" name="name" id="name" placeholder="Name ...">
									<input type="email" name="email" id="email" placeholder="Email ...">
									<input type="text" name="phone" id="phone" placeholder="Phone ...">
								</div>
								<textarea name="message" id="message" rows="10" placeholder="Message ..." ></textarea>
								<button id="send" type="submit" class="btn" name="submit">
									<svg viewBox="0 0 150 150" class="icon icon-mail">
										<use xlink:href="/dist/icons/sprite.svg#icon_mail"></use>
									</svg>
									Submit
								</button>
								<?php include "secure_email_code.php"?>
							</form>
						</div>
						<div class="col-4-1">
							<p>You can easily reach us at:</p>
							<span class="featured-phone"><svg viewBox="0 0 150 150" class="icon icon-phone">
								<use xlink:href="/dist/icons/sprite.svg#icon_phone"></use>
							</svg>9859 2016</span>
							<p>We are located at: </p>
							<p>9 Yishun Industrial Street 1 #03-86, </p>
							<p>North Spring Bizhub (Viewing of sabers is by appointment only),</p>
							<p>Singapore 768163</p>
						</div>
					</div><!-- .l-center -->
				</section>

		</div><!-- .content -->

  	<footer id="footer">
		<div class="container">
			<div class="left-side">
				<span class="copyright">
					©2017 <span>Saber Mach</span>
				</span>
				<div class="footer-nav">
					<ul class="clearfix">
						<li><a href="">Policies</a></li>
						<li><a href="">Terms and Conditions</a></li>
						<li><a href="">Faq</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Help Center</a></li>
					</ul>
				</div>
			</div>
		
			<div class="right-side">
				<div class="soc-networks">
					<ul class="clearfix">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
						<li><a href=""><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
				<div class="to-top">
					<i class="fa fa-angle-up"></i><br>
					back to top
				</div>
			</div>
		</div>
	</footer>

	<script src='../dist/js/vendor.js'></script>
	<script src='../dist/js/app.js'></script>
	<script src='../dist/js/common.js'></script>
	
</body>
</html>