@font-face {
  font-family: icons;
  src: url("../fonts/fa/fa.eot");
  src: url("../fonts/fa/fa.svg") format("svg"), url("../fonts/fa/fa.woff2") format("woff2"), url("../fonts/fa/fa.woff") format("woff"), url("../fonts/fa/fa.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_reg/maven_reg.eot");
  src: url("../fonts/maven-pro/maven_reg/maven_reg.svg") format("svg"), url("../fonts/maven-pro/maven_reg/maven_reg.woff") format("woff"), url("../fonts/maven-pro/maven_reg/maven_reg.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_med/maven_med.eot");
  src: url("../fonts/maven-pro/maven_med/maven_med.svg") format("svg"), url("../fonts/maven-pro/maven_med/maven_med.woff") format("woff"), url("../fonts/maven-pro/maven_med/maven_med.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_bold/maven_bold.eot");
  src: url("../fonts/maven-pro/maven_bold/maven_bold.svg") format("svg"), url("../fonts/maven-pro/maven_bold/maven_bold.woff") format("woff"), url("../fonts/maven-pro/maven_bold/maven_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_ex/maven_ex.eot");
  src: url("../fonts/maven-pro/maven_ex/maven_ex.svg") format("svg"), url("../fonts/maven-pro/maven_ex/maven_ex.woff") format("woff"), url("../fonts/maven-pro/maven_ex/maven_ex.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.eot");
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.svg") format("svg"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.woff") format("woff"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.eot");
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.svg") format("svg"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.woff") format("woff"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.eot");
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.svg") format("svg"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.woff") format("woff"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.eot");
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.svg") format("svg"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.woff") format("woff"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.eot");
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.eot");
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.svg") format("svg"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.woff") format("woff"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.eot");
  src: url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-LightItalic/Exo2-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.eot");
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.eot");
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.svg") format("svg"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.woff") format("woff"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.eot");
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.container-restricted {
  padding-left: 55px;
  padding-right: 55px;
}

.fixed-deg {
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
}

.subtitle .skew-button {
  margin-left: 5px;
  display: inline-block;
  padding: 2px 25px 4px;
  font-size: 1.5em;
  font-family: exo;
  line-height: 1;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.skew-button {
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}

.skew-button.skew-button__blue {
  background-color: #5086f2;
  color: white;
}

.skew-button.skew-button__white {
  background-color: white;
  color: #5086f2;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.skew-section {
  padding: 140px 0 90px;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  background-size: cover;
  background-position: center;
}

.fixed-deg-y {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

.fa-mobile {
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}

.main-heading {
  letter-spacing: -1px;
  margin-top: 10px;
  font-family: exo;
  font-size: 3.125em;
  text-transform: uppercase;
  font-weight: 200;
}

.info-box {
  margin-top: 40px;
  position: relative;
  padding: 20px 30px 20px 2.875em;
  color: #404040;
  background-color: white;
  text-align: left;
  font-size: 1.0625em;
}

.info-box i {
  position: absolute;
  top: 21px;
  left: 20px;
  color: #ccc;
  font-size: 1.25em;
}

#current-event .page {
  display: none;
  -webkit-animation: fadeEffect .5s ease;
  animation: fadeEffect .5s ease;
}

#current-event .page.active {
  display: block;
}

.tab-item {
  display: none;
  -webkit-animation: fadeEffect .5s ease;
  animation: fadeEffect .5s ease;
}

.tab-item.active {
  display: block;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}

[data-animate="loaded"], [data-animate*="fadeIn"] {
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

[data-animate="fadeInUp"] {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

[data-animate="fadeInUpLess"] {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.loaded, .fadeIn, .fadeInUp, .fadeInUpLess {
  opacity: 1;
}

.fadeInUp, .fadeInUpLess {
  -webkit-transform: none;
  transform: none;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: maven;
  font-weight: 400;
  font-size: 16px;
  color: #404040;
}

.top-navbar {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5487eb;
  background-image: url("../img/top-navbar.png");
  background-repeat: no-repeat;
  color: #bbd2ff;
}

.top-navbar .contact-info {
  float: left;
}

.top-navbar .soc-networks {
  float: right;
}

.top-navbar .soc-networks ul li {
  float: left;
}

.top-navbar .soc-networks ul li:not(:first-child) {
  margin-left: 15px;
}

.top-navbar .soc-networks ul li a {
  font-size: 1.125em;
  color: #bbd2ff;
}

.top-navbar .soc-networks ul li a:hover {
  color: white;
}

#hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.overlay-shapes {
  background-image: url("../img/shapes.png");
  background-size: cover;
}

.overlay-line {
  background-image: url("../img/lines-grey.png");
}

#main-nav {
  margin-right: 10px;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar ul {
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li:not(:first-child) {
  margin-left: 20px;
}

.navbar ul li a {
  display: block;
  padding-top: 47px;
  padding-bottom: 45px;
  font-family: exo;
  font-size: 0.875em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.navbar ul li:not(.skew-button) {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 3px solid transparent;
}

.navbar ul li:not(.skew-button):hover {
  border-bottom: 3px solid #5086f2;
}

.navbar ul li.skew-button {
  margin-top: 33px;
}

.navbar ul li.skew-button a {
  display: block;
  padding: 10px 25px;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 500;
}

.navbar ul li.skew-button:hover {
  background-color: #4469b3;
}

.navbar ul li.active {
  border-bottom: 3px solid #5086f2;
}

.navbar ul li.active a {
  color: #bbd2ff;
}

.heading {
  padding: 70px 0 100px;
  text-align: center;
  color: white;
}

#logo {
  margin-left: -3px;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  width: 268px;
  height: 33px;
  background-image: url("../img/logo.png");
  background-size: 268px 33px;
}

#main-info {
  margin-top: -1.85%;
}

#main-info .skew-section {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: #f0f1f5;
  background-position: right bottom;
  background-repeat: repeat-y;
  background-size: contain;
  color: white;
}

#main-info .show {
  border: 2px solid red;
}

#main-info aside {
  width: 27%;
  background-color: #f7f8fa;
  margin-left: 9%;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 150px;
}

#main-info aside .rank-info {
  padding: 20px 15px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
}

#main-info aside .rank-info .rank {
  position: relative;
  padding-right: 10px;
}

#main-info aside .rank-info .rank:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

#main-info aside .rank-info .score {
  padding-left: 10px;
}

#main-info aside .rank-info > div {
  display: inline-block;
  text-align: center;
}

#main-info aside .rank-info > div i {
  color: #5086f2;
  margin-right: 5px;
}

#main-info aside .rank-info > div p {
  line-height: 1;
}

#main-info aside .rank-info > div p:first-child {
  font-size: 1.75em;
  color: #666;
}

#main-info aside .rank-info > div p:last-child {
  font-size: .875em;
  color: #999;
  font-family: exo;
  font-weight: 300;
}

#main-info aside .table-wrapper {
  margin-left: 15px;
  margin-top: 30px;
}

#main-info aside table {
  width: 92%;
  font-weight: 700;
}

#main-info aside table tr {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}

#main-info aside table td {
  font-size: 0.8125em;
}

#main-info aside table td:first-child {
  width: 50%;
  color: #999;
  text-transform: uppercase;
}

#main-info aside table td:last-child {
  width: 50%;
  color: #5086f2;
}

#main-info aside table td:last-child i {
  width: 13px;
}

#main-info aside table td:last-child i:first-child {
  margin-left: 5px;
}

#main-info .content {
  width: 57.5%;
  background-color: #f0f1f5;
  padding-top: 80px;
  padding-bottom: 150px;
  margin-left: 35px;
  padding-left: 35px;
  color: #666;
}

#main-info .content .top-wrapper {
  text-align: right;
}

#main-info .content .subtitle {
  display: inline-block;
  font-family: exo;
}

#main-info .content .subtitle .skew-button {
  padding: 7px 15px 7px;
  background-color: black;
  font-weight: 500;
  color: #eee;
  font-size: 1.125em;
  font-style: normal;
}

#main-info .content .subtitle p {
  text-align: center;
  font-size: .875em;
  font-weight: 300;
  color: #999;
}

#main-info .content table {
  margin-top: 30px;
  width: 100%;
  background-color: #fafafa;
}

#main-info .content table tr:first-child td {
  padding-top: 20px;
}

#main-info .content table tr:last-child td {
  padding-bottom: 20px;
}

#main-info .content table td {
  font-family: exo;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 6px;
}

#main-info .content table td:first-child {
  color: #5086f2;
  vertical-align: top;
  padding-left: 25px;
  width: 33%;
}

#main-info .content table caption {
  padding: 10px 20px;
  color: white;
  text-align: left;
  font-family: exo;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.375em;
}

#main-info .content table caption p {
  position: relative;
  top: 2px;
  display: inline-block;
}

#main-info .content table caption i {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

#main-info .content table .fa-building:before {
  margin-left: 2px;
}

#main-info .content table.cols-2 caption {
  background-color: #4769b0;
}

#main-info .content table.cols-2 td i {
  width: 15px;
  margin-right: 10px;
}

#main-info .content table.cols-2 td:nth-child(2) {
  display: inline-block;
  color: #666;
  width: 93%;
}

#main-info .content table.cols-2 td:nth-child(2):not(.no-border) {
  border-bottom: 1px solid #ccc;
}

#main-info .content table.cols-2 td:nth-child(2) a {
  color: #5086f2;
}

#main-info .content table.cols-2 td:nth-child(2) a:hover {
  text-decoration: underline;
}

#main-info .content table.cols-3 caption {
  background-color: #38507e;
}

#main-info .content table.cols-3 td:first-child {
  width: 33%;
}

#main-info .content table.cols-3 td:nth-child(2) {
  width: 25%;
  color: #666;
}

#main-info .content table.cols-3 td:nth-child(2):not(.no-border) {
  border-bottom: 1px solid #ccc;
}

#main-info .content table.cols-3 td:nth-child(3) {
  padding-left: 30px;
  vertical-align: top;
  width: 42%;
  color: #666;
}

#main-info .content table.cols-3 td:nth-child(3) i {
  vertical-align: top;
  margin-right: 5px;
  position: relative;
  top: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #5086f2;
}

#main-info .content table.cols-3 td:nth-child(3) p {
  display: inline-block;
}

#main-info .content table.cols-3 td:nth-child(3) p span {
  color: #5086f2;
}

#main-info .content .company-descr {
  margin-top: 50px;
}

#main-info .content .company-descr h2 {
  text-transform: uppercase;
  color: #5086f2;
  font-family: exo;
  font-weight: 700;
  margin-bottom: 10px;
}

#main-info .content .company-descr p {
  margin-top: 5px;
}

#main-info .fixed-deg-y {
  background-image: url("../img/content-bg.jpg");
  background-size: contain;
  background-position: 0 0;
  background-repeat: repeat-y;
}

#main-info .main-heading {
  margin-bottom: 25px;
  color: #364b74;
  float: left;
}

#main-info .tab-nav {
  margin-top: 23px;
  float: right;
}

#main-info .tab-nav li {
  float: left;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

#main-info .tab-nav li:not(:first-child) {
  margin-left: 20px;
}

#main-info .tab-nav li a {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
}

#main-info .tab-nav li.active {
  border-bottom: 4px solid #5086f2;
}

#main-info .tab-nav li.active a {
  color: #5086f2;
}

#main-info .tab-item:after {
  height: 100%;
}

#main-info .img-item {
  position: relative;
  margin-bottom: 25px;
}

#main-info .img-item img {
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#main-info .img-item .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 40%;
  left: 15px;
  right: 15px;
  padding: 20px;
  background-repeat: no-repeat;
}

#main-info .img-item .overlay.purple {
  background-image: url("../img/current-bg/purp.png");
}

#main-info .img-item .overlay.green {
  background-image: url("../img/current-bg/green.png");
}

#main-info .img-item .overlay.pink {
  background-image: url("../img/current-bg/pink.png");
}

#main-info .img-item .overlay.dark {
  background-image: url("../img/current-bg/dark.png");
}

#main-info .img-item .overlay.yellow {
  background-image: url("../img/current-bg/yell.png");
}

#main-info .img-item .overlay.red {
  background-image: url("../img/current-bg/red.png");
}

#main-info .img-item .overlay p {
  line-height: 1.2;
  text-align: left;
  color: white;
}

#main-info .img-item .overlay p:first-child {
  font-size: 1.25em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}

#main-info .img-item .overlay p:last-child {
  font-size: 1.5em;
}

#main-info .img-item .search {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  margin-top: -37px;
  margin-left: -37px;
  width: 74px;
  height: 74px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

#main-info .img-item .search i {
  color: #ccc;
  font-size: 2.75em;
  line-height: 74px;
}

#main-info .img-item:hover img {
  -webkit-filter: none;
  filter: none;
}

#main-info .img-item:hover .search {
  opacity: 1;
}

#main-info .pagination-ul {
  float: right;
}

#main-info .pagination-ul .pag-item {
  text-align: center;
  float: left;
}

#main-info .pagination-ul .pag-item:not(:first-child) {
  margin-left: 3px;
}

#main-info .pagination-ul .pag-item.active a, #main-info .pagination-ul .pag-item.active button {
  background-color: #5086f2;
}

#main-info .pagination-ul .pag-item.arrow a, #main-info .pagination-ul .pag-item.arrow button {
  background-color: #364b74;
}

#main-info .pagination-ul .pag-item.arrow:hover a:not([disabled]), #main-info .pagination-ul .pag-item.arrow:hover button:not([disabled]) {
  background-color: #233b69;
}

#main-info .pagination-ul .pag-item a, #main-info .pagination-ul .pag-item button {
  display: block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  background-color: #999;
  color: white;
  font-size: 1.125em;
  border-radius: 5px;
}

#main-info .pagination-ul .pag-item button {
  outline: 0;
  border: 0;
}

#main-info .pagination-ul .pag-item button[disabled] {
  opacity: .7;
  cursor: not-allowed;
}

#quote {
  margin-top: -4%;
}

#quote .skew-section {
  padding-top: 150px;
  padding-bottom: 175px;
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
  background-color: #5086f2;
  background-image: url("../img/lines-blue.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}

#quote .skew-section .fixed-deg-y {
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

#quote blockquote {
  text-align: center;
  font-family: exo;
  color: white;
}

#quote blockquote h2 {
  font-size: 1.75em;
  font-weight: 300;
  font-style: italic;
  line-height: 1.3;
}

#quote blockquote cite {
  font-size: 1.5em;
  font-weight: 700;
  font-style: normal;
}

#quote blockquote cite i {
  margin-right: 10px;
}

#footer {
  position: relative;
  margin-top: -2%;
  padding-top: 80px;
  background-color: white;
}

#footer .nav-links a {
  font-size: 1.125em;
  text-transform: uppercase;
  color: #999;
}

#footer .nav-links a i {
  margin-right: 5px;
}

#footer .nav-links a .fa-arrow-right {
  margin-right: 0;
}

#footer .nav-links a span {
  color: #404040;
}

#footer .nav-links hr {
  width: 100%;
  margin-top: 53px;
}

#footer .nav-links p {
  position: relative;
  text-transform: uppercase;
  padding-bottom: .4em;
  font-family: exo;
  font-size: 1.5em;
  font-weight: 300;
}

#footer .nav-links p:after {
  content: "";
  width: 27px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer .nav-links p.first:after {
  background-color: #5086f2;
}

#footer .nav-links p.second:after {
  background-color: #e2b23e;
}

#footer hr {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
  background-color: #e5e5e5;
}

#footer .sponsors-logo {
  margin-top: 65px;
  text-align: center;
}

#footer .sponsors-logo p {
  color: #bfbfbf;
  font-size: 15px;
  line-height: 1.2;
}

#footer .sponsors-logo p span {
  font-size: 32px;
  text-transform: uppercase;
  color: #404040;
  font-family: exo;
  font-weight: 200;
}

#footer .sponsors-logo b {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

#footer .sponsors-logo b:after {
  content: "";
  width: 28px;
  height: 1px;
  position: absolute;
  left: -14px;
  bottom: 0;
  background-color: #e2b23e;
}

#footer .sponsors-logo figcaption {
  margin-top: 3px;
  text-transform: uppercase;
  font-family: exo;
  font-size: 1.125em;
  font-weight: 300;
}

#footer .sponsors-logo ul {
  margin-top: 20px;
  display: inline-block;
}

#footer .sponsors-logo ul li {
  float: left;
}

#footer .sponsors-logo ul li:not(:first-child) {
  margin-left: 25px;
}

#footer .sponsors-logo ul li a {
  text-transform: uppercase;
  color: #808080;
}

#footer .sponsors-logo ul li a:hover {
  color: #404040;
}

#footer .copyright {
  position: relative;
  margin: 35px 0;
  font-size: 0.9375em;
  font-weight: 700;
}

#footer .copyright span {
  font-weight: 400;
}

#footer .copyright .to-top {
  top: -5px;
  right: 5px;
  position: absolute;
  font-size: 1.5em;
}

#footer .copyright .to-top a {
  color: #e5e5e5;
}

#footer .copyright .to-top a:hover {
  color: #ccc;
}
