@font-face {
  font-family: icons;
  src: url("../fonts/fa/fa.eot");
  src: url("../fonts/fa/fa.svg") format("svg"), url("../fonts/fa/fa.woff2") format("woff2"), url("../fonts/fa/fa.woff") format("woff"), url("../fonts/fa/fa.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_reg/maven_reg.eot");
  src: url("../fonts/maven-pro/maven_reg/maven_reg.svg") format("svg"), url("../fonts/maven-pro/maven_reg/maven_reg.woff") format("woff"), url("../fonts/maven-pro/maven_reg/maven_reg.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_med/maven_med.eot");
  src: url("../fonts/maven-pro/maven_med/maven_med.svg") format("svg"), url("../fonts/maven-pro/maven_med/maven_med.woff") format("woff"), url("../fonts/maven-pro/maven_med/maven_med.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_bold/maven_bold.eot");
  src: url("../fonts/maven-pro/maven_bold/maven_bold.svg") format("svg"), url("../fonts/maven-pro/maven_bold/maven_bold.woff") format("woff"), url("../fonts/maven-pro/maven_bold/maven_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: maven;
  src: url("../fonts/maven-pro/maven_ex/maven_ex.eot");
  src: url("../fonts/maven-pro/maven_ex/maven_ex.svg") format("svg"), url("../fonts/maven-pro/maven_ex/maven_ex.woff") format("woff"), url("../fonts/maven-pro/maven_ex/maven_ex.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.eot");
  src: url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.svg") format("svg"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.woff") format("woff"), url("../fonts/exo-2/Exo2-Regular/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.eot");
  src: url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.svg") format("svg"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.woff") format("woff"), url("../fonts/exo-2/Exo2-Medium/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.eot");
  src: url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.svg") format("svg"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.woff") format("woff"), url("../fonts/exo-2/Exo2-SemiBold/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.eot");
  src: url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.svg") format("svg"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.woff") format("woff"), url("../fonts/exo-2/Exo2-Bold/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBold/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.eot");
  src: url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraBoldItalic/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.eot");
  src: url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-MediumItalic/Exo2-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.eot");
  src: url("../fonts/exo-2/Exo2-Light/Exo2-Light.svg") format("svg"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.woff") format("woff"), url("../fonts/exo-2/Exo2-Light/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.eot");
  src: url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.svg") format("svg"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.woff") format("woff"), url("../fonts/exo-2/Exo2-ExtraLight/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.eot");
  src: url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.svg") format("svg"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.woff") format("woff"), url("../fonts/exo-2/Exo2-Thin/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: exo;
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.eot");
  src: url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.svg") format("svg"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.woff") format("woff"), url("../fonts/exo-2/Exo2-ThinItalic/Exo2-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

.left-offset {
  margin-left: -30px;
}

.right-offset {
  margin-right: -30px;
}

.fixed-deg {
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  text-align: center;
  font-family: exo;
}

.skew-button {
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}

.skew-button.skew-button__blue {
  background-color: #5086f2;
}

.fixed-deg-y {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
  text-align: center;
}

.fa-mobile {
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[data-animate="loaded"] {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.loaded {
  opacity: 1;
}

.fadeIn {
  animation: fadeIn 1.5s ease;
}

.fadeInUp {
  animation: fadeInUp 1s ease;
}

body {
  font-family: maven;
  font-weight: 400;
  font-size: 16px;
}

.top-navbar {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5487eb;
  background-image: url("../img/top-navbar.png");
  background-repeat: no-repeat;
  color: #bbd2ff;
}

.top-navbar .contact-info {
  float: left;
}

.top-navbar .soc-networks {
  float: right;
}

.top-navbar .soc-networks ul li {
  float: left;
}

.top-navbar .soc-networks ul li:not(:first-child) {
  margin-left: 15px;
}

.top-navbar .soc-networks ul li a {
  font-size: 1.125em;
  color: #bbd2ff;
}

.top-navbar .soc-networks ul li a:hover {
  color: white;
}

#hero {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

#main-nav {
  margin-right: -20px;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar ul {
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li:not(:first-child) {
  margin-left: 20px;
}

.navbar ul li a {
  display: block;
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: exo;
  font-size: 0.875em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.navbar ul li:not(.skew-button) {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 3px solid transparent;
}

.navbar ul li:not(.skew-button):hover {
  border-bottom: 3px solid #5086f2;
}

.navbar ul li.skew-button {
  margin-top: 33px;
}

.navbar ul li.skew-button a {
  display: block;
  padding: 10px 25px;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 500;
}

.navbar ul li.skew-button:hover {
  background-color: #4469b3;
}

.navbar ul li.active {
  border-bottom: 3px solid #5086f2;
}

.navbar ul li.active a {
  color: #bbd2ff;
}

#logo {
  margin-left: -33px;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  width: 268px;
  height: 33px;
  background-image: url("../img/logo.png");
  background-size: 268px 33px;
}

#main {
  color: white;
  padding-bottom: 80px;
}

#main .main-info {
  margin-top: 45px;
}

#main .main-info .skew-button {
  margin-left: 5px;
  display: inline-block;
  padding: 2px 15px 4px;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

#main .main-info h1 {
  margin-top: 12px;
  margin-bottom: 25px;
  font-family: exo;
  font-size: 3.125em;
  text-transform: uppercase;
  font-weight: 200;
}

#main .main-info address {
  padding-left: 10px;
  font-style: normal;
  border-left: 7px solid #5086f2;
}

#main .main-info address:last-of-type {
  margin-top: 45px;
}

#main .main-info address p {
  font-size: 1.125em;
  line-height: 1.5;
  font-weight: 400;
}

#main .main-info address p strong {
  font-size: 1.125em;
  font-weight: 700;
  font-family: exo;
}

#main .main-info address p span {
  margin-top: 5px;
  display: block;
}

#main .main-info address p span i:before {
  margin-right: 5px;
}

#main .main-info .info-block {
  margin-top: 30px;
  position: relative;
  padding: 20px 30px 20px 2.875em;
  color: #404040;
  background-color: white;
}

#main .main-info .info-block i {
  position: absolute;
  top: 23px;
  left: 20px;
  color: #ccc;
}

#main .config-block {
  padding-left: 35px;
}

#main .skew-block {
  display: none;
  margin-right: -25px;
  margin-top: 45px;
  padding: 70px 50px;
  background-color: #4769b0;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  border-radius: 10px;
}

#main .skew-block.active-form {
  display: block;
}

#main .skew-block span {
  padding-top: 20px;
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}

#main .skew-block span i {
  font-size: 2em;
}

#main .skew-block h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: exo;
  font-weight: 200;
  font-size: 3em;
  line-height: 1.3;
}

#main .skew-block .input-field {
  position: relative;
  margin-bottom: 5px;
}

#main .skew-block .input-field i {
  color: #bfbfbf;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}

#main .skew-block textarea {
  resize: none;
  margin-bottom: 5px;
}

#main .skew-block .button {
  width: 100%;
  border-radius: 5px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #5086f2;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

#main .skew-block select {
  color: #bfbfbf;
  background-color: #fff;
  height: 44px;
}

#main .skew-block input, #main .skew-block textarea, #main .skew-block select {
  width: 100%;
  border-radius: 5px;
  color: #bfbfbf;
  padding: .625em 2.875em .625em .625em;
  border: 1px solid #ededed;
}

#main .skew-block .final-text {
  display: inline-block;
  width: 75%;
  margin-bottom: 25px;
}

#main .skew-block .go-back {
  margin-top: 5px;
  text-align: left;
}

#main .skew-block .go-back a {
  color: white;
  text-transform: uppercase;
}

#main .skew-block .go-back a i:before {
  margin-right: 5px;
}

#footer {
  padding-top: 80px;
}

#footer h2 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: .625em;
  font-family: exo;
  font-size: 1.5em;
  font-weight: 300;
}

#footer h2:after {
  content: "";
  width: 27px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer h2.first:after {
  background-color: #5086f2;
}

#footer h2.second:after {
  background-color: #e2b23e;
}

#footer .sponsor-logo {
  margin-top: 15px;
}

#footer .footer-nav {
  margin-top: 15px;
}

#footer .footer-nav li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}

#footer .footer-nav li:not(:first-child) {
  padding-top: 5px;
}

#footer .footer-nav li a {
  color: #808080;
}

#footer .footer-nav li a:hover {
  text-decoration: underline;
}

#footer hr {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #e5e5e5;
}

#footer .copyright {
  position: relative;
  margin: 35px 0;
  text-align: center;
  font-weight: 700;
}

#footer .copyright span {
  font-weight: 400;
}

#footer .copyright .to-top {
  top: -5px;
  right: 5px;
  position: absolute;
  font-size: 1.5em;
}

#footer .copyright .to-top a {
  color: #e5e5e5;
}
