$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@media only screen and (min-width: 1800px) {
	#quote {
		.skew-section {
			padding-top: 250px;
			padding-bottom: 200px;
			background-position: 0 0;
			background-image: url('../img/portrait-retina.jpg');
		}
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
	#quote {
		.skew-section {
			background-image: url('../img/portrait-lg.jpg');
		}
	}
}
@media only screen and (min-width: 1200px) {
	#list .list-items .item table td:last-child {
		width: 50%;
	}

	#jud-criteria .jud-info {
		p {
			font-size: 1.125em;
		}
	}
}
@media only screen and (max-width: 1199px){
	.container-restricted {
		padding: 0;
	}
	#logo {
		float: none;
		margin: 0 auto;
	}
	#main-nav {
		margin: 0;
		overflow: scroll;
		position: absolute;
		left: 0;
		right: 0;
		top: 85px;
		padding-top: 0;
		max-height: 0;
		z-index: 99999;
		opacity: 0;
		background-color: rgba(68,105,179,.93);
		-webkit-transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
		transition: max-height .5s ease, padding-top .5s ease, opacity .5s;
		&.open {
			max-height: 300px;
			padding-top: 10px;
			opacity: 1;
		}
		.skew-button, .fixed-deg {
			-webkit-transform: none;
		    -ms-transform: none;
		    transform: none;
		}
		.skew-button {
			background-color: $heading-color;
		}
		li {
			margin: 0 !important;
			display: block;
			float: none;
			text-align: center;
			&.active {
				background-color: rgba(255,255,255,.1);
				border-bottom: 0;
			}
			a {
				display: inline-block;
				padding: 10px;
			}
		}
		&.open {
			display: block;
		}
	}
	.navbar {
		position: relative;
		padding-top: 27px;
		height: 85px;
		-webkit-transition: background-color .5s ease;
		transition: background-color .5s ease;
		&.sticky {
			top: 0;
			left: 0;
			right: 0;
			z-index: 100000;
			position: fixed;
			background-color: rgba(68,105,179,.93);
			#logo {
				margin-bottom: 0;
			}
		}
		&.menu-open {
			background-color: rgba(68,105,179,.93);
		}
	}

	.heading {
		&.has-sticky {
			margin-top: 84px;
		}
	}



}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.container-restricted {
		padding: 0;
	}
	.top-navbar {
		&:before {
			right: calc(50% + 115px);
		}
		&:after {
			left: calc(50% - 115px);
		}
	}
	#list .list-items .item .item-descr {
		width: 420px;
	}
}
@media only screen and (max-width: 1199px) and (min-width: 768px) {
	.main-heading {
		font-size: 2.5em;
	}
	#list .list-items .item .item-table {
		width: 60px;
	}
	#list .list-items .item table td:first-child {
		display: none;
	}
	#list .list-items .item table td:last-child {
		text-align: center;
		i {
			margin-left: 0 !important;
		}
	}
}
@media only screen and (min-width: 992px) {
	#jud-criteria .jud-info {
		padding-left: 60px;
	}
	.pl0 {
		padding-left: 0;
	}
	.pr0 {
		padding-right: 0;
	}
	.mt {
			margin-top: 30px;
		}
}
@media only screen and (max-width: 991px) {
	#nominating {
		text-align: center;
		.italic-heading {
			float: none;
			line-height: 1.2;
			margin-bottom: 20px;
		}
		.nominate-button {
			margin: 0;
		}
	}
	.main-heading {
		text-align: center !important;
	}
	#jud-criteria .jud-info .main-heading:after {
		left: 50%;
		margin-left: -14px;
	}
	#jud-criteria .jud-info {
		text-align: center;
		padding-left: 15px;
	}
	#footer {
		padding-top: 30px;
		text-align: center;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	#jud-criteria .jud-info {
		p {
			font-size: 0.935em;
		}
	}
	.top-navbar {
		&:before {
			right: 50%;
		}
		&:after {
			left: 50%;
		}
	}
	#jud-criteria .criteria {
		section {
				margin-top: 40px;
			
		}
	}
	#list .list-items .item .item-descr {
		width: 220px;
		position: relative;
		.restrict {
			padding: 0 15px;
			> p, > a {
				font-size: 13px;
			}
		}

	}
	.mt-section {
		margin-top: -3.5%;
	}
	#positions .position-item .text-bg .text-block {
		bottom: 15px;
		left: 20px;
	}
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 15px;
	}
	#hero {
		padding-bottom: 120px;
		background-image: url('../img/hero-md.jpg');
	}
	.top-navbar {
		height: 83px;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		.contact-info {
			float: none;
			text-align: center;
		}
		.soc-networks {
			margin-top: 10px;
			float: none;
			text-align: center;
			ul {
				display: inline-block;
				li {
					&:not(:first-child) {
						margin-left: 25px;
					}
					a {
						font-size: 1.6em;
					}
				}
			}
		}
	}
	#list .list-wrapper {
		top: -150px;
		padding-bottom: 0px;
	}
	#jud-criteria {
		padding-top: 70px;
	}
	#jud-criteria .criteria {
		section {
				margin-top: 40px;
			
		}
	}
	#list .list-items {
		padding-top: 30px;
		padding-right: 25px;
		padding-left: 55px;
		.gradient {
			width: 30px;
		}
	}
	#list .list-items .item {
		padding: 40px 15px 0;
		text-align: center;
		height: auto;
		font-size: 13px;
	}
	#list .list-items .item .item-img {
		display: inline-block;
		width: 250px;
		height: 250px;
		.info {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	#list .list-items .item .item-descr {
		width: 100%;
		float: right;
		.restrict {
			padding: 0;
			border-right: 0;
		}
	}
	#list .list-items .item .item-descr .subtitle {
		position: static;
		margin-top: 15px;
	}
	#list .list-items .item .item-table {
		width: 100%;
	}
	#list .list-items .item .item-table {
		width: 80%;
	}
	#list .list-items .item table td:first-child {
		width: 65%;
		text-align: left;
	}
	#list .list-items .item table td:last-child {
		width: 35%;
	}
	.navbar {
		padding-top: 32px;
	}
	#logo {
		width: 176px;
		height: 25px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.subtitle .skew-button {
		font-size: 1.125em;
	}
	.main-heading {
		font-size: 2.25em;
	}
	.skew-section {
		padding-top: 80px !important;
	}
}
@media only screen and (max-width: 767px) and (min-width: 600px) {
	.mt-section {
		margin-top: -4%;
	}
}
@media only screen and (max-width: 599px) and (min-width: 480px) {
	.mt-section {
		margin-top: -5.5%;
	}
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
	#logo {
		width: 215px;
		height: 30px;
	}
}
@media only screen and (max-width: 479px) {
	.col-xs-6 {
		width: 100%;
	}
	.mt-section {
		margin-top: -10%;
	}
	#list .list-items .item .item-img {
		width: 150px;
		height: 150px;
	}
	#footer .sponsors-logo ul li:not(:first-child) {
		margin-left: 0;
	}
	#footer .sponsors-logo ul li {
		float: none;
		margin-top: 10px;
	}
	#footer {
		.copyright {
			margin: 30px 0 50px;
		}
	}
	#footer .copyright .to-top {
		top: 25px;
	}
}
@media only screen and (max-width: 399px) {
	.mt-section {
		margin-top: -14%;
	}
}