body {
	font-family: maven;
	font-weight: 400;
	font-size: 16px;
	color: #404040;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-image: url('../img/shapes.png');
	background-size: contain;
	background-repeat: no-repeat;
	@media only screen and (min-width: 2300px) {
		background-size: cover;
	}
}
header {
	background-image: url('../img/bg-header.png'), -moz-linear-gradient( -178deg, rgb(80,134,242) 0%, rgb(120,206,250) 100%);
    background-image: url('../img/bg-header.png'), -webkit-linear-gradient( -178deg, rgb(80,134,242) 0%, rgb(120,206,250) 100%);
    background-image: url('../img/bg-header.png'), -ms-linear-gradient( -178deg, rgb(80,134,242) 0%, rgb(120,206,250) 100%);
    background-repeat: no-repeat;

}

.form-block {
	-webkit-animation: fadeEffect 1.2s ease;
		animation: fadeEffect 1.2s ease;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	.main-heading {
		margin-top: 0;
	}
}
.right-side {
	height: 940px;
	position: relative;
}
#hero {
	height: 940px;
	width: 56.25%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: right;
	padding-right: 9%;
	float: left;
	padding-top: 285px;
	background-image: url('../img/hero-2lg.png');
	@media only screen and (max-width: 991px) {
		background-image: url('../img/hero-2sm.png');
	}
	.heading-wrapper {
		display: none;
		padding-right: 10px;
		border-right: 1px solid #eeeff1;
		h1 {
			position: relative;
			top: -8px;
			color: white;
			text-transform: uppercase;
			font-family: exo;
			font-weight: 700;
			font-style: italic;
			font-size: 2.75em;
		}
		.subtitle {
			margin-right: 5px;
			.skew-button {
				font-size: 1.25em;
				padding-top: 10px;
				padding-bottom: 10px;
				font-weight: 500;
				font-style: italic;
				font-family: exo;
			}
		}
	}
}
#check-code {
	.subtitle.top {
		.skew-button {
			padding: 15px;
			font-weight: 500;
			margin-bottom: 5px;
		}
	}
	padding-top: 60px;
	padding-bottom: 55px;
	.wrapper {
		h2 {
			font-family: exo;
			color: $blue;
			font-style: italic;
			font-weight: 700;
			line-height: 1.2;
			font-size: 2.7em;
			margin-bottom: 15px;
			+ p {
				span {
					color: #999;
				}
			}
		}
		.input-field {
			margin-top: 20px;
			margin-bottom: 20px;
			position: relative;
			input {
				height: 45px;
				width: 100%;
				border: 1px solid #ededed;
				color: #aaa;
				border-radius: 5px;
				padding-left: 20px;
				padding-right: 40px;
			}
			i {
				position: absolute;
				top: 50%;
				right: 20px;
				color: #bfbfbf;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		.skew-button {
			margin-left: 5px;
			margin-bottom: 25px;
		}
		hr {
			height: 1px;
			background-color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.help {
			i {
				position: relative;
				top: 1px;
			}
			a {
				color: $blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.form-block {
	padding-top: 100px;
	padding-bottom: 55px;
	float: left;
	width: calc(43.75% - 60px);
	margin-left: 60px;
	.wrapper {
		width: 340px;
		h2 {
			font-family: exo;
			text-transform: none;
			line-height: 1.2;
			font-size: 3em;
			color: $heading-color;
			margin-bottom: 15px;
		}
		.input-field {
			margin-bottom: 10px;
			position: relative;
			input {
				height: 45px;
				width: 100%;
				border: 1px solid #ededed;
				color: #aaa;
				border-radius: 5px;
				padding-left: 20px;
				padding-right: 40px;
			}
			i {
				position: absolute;
				top: 50%;
				right: 20px;
				color: #bfbfbf;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		// no
		input[type="submit"] {
			width: 100%;
			text-transform: uppercase;
			font-weight: 500;
			border-radius: 5px;
			color: white;
			background-color: #000;
			border: 0;
			outline: 0;
			font-size: 1.125em;
			padding: 10px 15px;
		}
		hr {
			height: 1px;
			background-color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.info-box {
			margin-top: 0;
			margin-bottom: 15px;
			a {
				color: $blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.help {
			margin-top: 15px;
		}
	}
	.atten-box {
			display: none;
			position: relative;
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 15px 10px 15px 2.875em;
			box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
			font-size: 1.0625em;
			color: white;
			background-color: #eb634b;
			-webkit-animation: fadeEffect .6s ease;
			animation: fadeEffect .6s ease;
			&.active {
				display: block;
			}
			i {
				position: absolute;
				top: 23px;
				left: 20px;
				font-size: 1.125em;
			}
		}
}
// end questionnaire
#footer {
	position: relative;
	padding-top: 80px;
	background-color: white;
	.nav-links {
		a {
			font-size: 1.125em;
			text-transform: uppercase;
			color: #999;
			i {
				margin-right: 5px;
			}
			.fa-arrow-right {
				margin-right: 0;
			}
			span {
				color: #404040;
			}
		}
		hr {
			width: 100%;
			margin-top: 53px;
		}
		p {
			position: relative;
			text-transform: uppercase;
			padding-bottom: .4em;
			font-family: exo;
			font-size: 1.5em;
			font-weight: 300;
			&:after {
				content: "";
			    width: 27px;
			    height: 1px;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			}
			&.first {
				&:after {
					background-color: #5086f2;
				}
			}
			&.second {
				&:after {
					background-color: #e2b23e;
				}
			}
		}
	}
	hr {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0;
		background-color: #e5e5e5;
	}
	.sponsors-logo {
		margin-top: 65px;
		text-align: center;
		p {
			color: #bfbfbf;
			font-size: 15px;
			line-height: 1.2;
			span {
				font-size: 32px;
				text-transform: uppercase;
				color: #404040;
				font-family: exo;
				font-weight: 200;
			}
		}
		b {
			display: inline-block;
			margin-top: 15px;
			margin-bottom: 15px;
			position: relative;
			&:after {
				content: "";
			    width: 28px;
			    height: 1px;
			    position: absolute;
			    left: -14px;
			    bottom: 0;
			    background-color: #e2b23e;
			}
		}
		figcaption {
			margin-top: 3px;
			text-transform: uppercase;
			font-family: exo;
			font-size: 1.125em;
			font-weight: 300;
		}
		ul {
			margin-top: 20px;
			display: inline-block;
			li {
				float: left;
				&:not(:first-child) {
					margin-left: 25px;
				}
				a {
					text-transform: uppercase;
					color: #808080;
					&:hover {
						color: #404040;
					}
				}
			}
		}
	}
	.copyright {
		position: relative;
		margin: 35px 0;
		font-size: 0.9375em;
		font-weight: 700;
		span {
			font-weight: 400;
		}
		.to-top {
			top: -5px;
			right: 5px;
			position: absolute;
			font-size: 1.5em;
			a {
				color: #e5e5e5;
				&:hover {
					color: #ccc;
				}
			}
		}
	}
}